{% extends 'other_base.html' %}
{% block content %}
    <header id="home" class="partial-height">
        <div class="height-page">
            <div class="title-other-page">
                <h1 itemprop="name">Politique de confidentialité
                </h1>
            </div>
        </div>
    </header>

    <div class="loader"></div>
    <section class="cgu">
        <div class="container">
            <p class="center intro-partial"><strong>L'Éditeur : </strong>Spliiit SAS, 4 bis rue royer bendélé, 92230
                Gennevilliers, FRANCE<br>
                <strong>Le site : </strong>www.spliiit.com<br>
                <strong>L'utilisateur : </strong>La personne utilisant le Site et les services.
            </p>
            <div class="bloc-white padding3050 margin50">
                <h2>Nature des données collectées</h2>
                <p><strong>Dans le cadre de l'utilisation des Sites, l'Éditeur est susceptible de collecter les
                    catégories de données suivantes concernant ses Utilisateurs :<br></strong>
                    - Données d'état-civil, d'identité, d'identification...<br>
                    - Données de connexion (adresses IP, journaux d'événements...)</p>
                <h2>Communication des données personnelles à des tiers</h2>
                <p><strong>Pas de communication à des tiers</strong><br>Vos données ne font l'objet d'aucune
                    communication à des tiers. Vous êtes toutefois informés qu'elles pourront être divulguées en
                    application d'une loi, d'un règlement ou en vertu d'une décision d'une autorité réglementaire ou
                    judiciaire compétente.</p>
                <h2>Information préalable pour la communication des données personnelles à des tiers en cas de fusion /
                    absorption</h2>
                <p><strong>Information préalable et possibilité d’opt-out avant et après la fusion /
                    acquisition</strong><br>
                    Dans le cas où nous prendrions part à une opération de fusion, d’acquisition ou à toute autre forme
                    de cession d’actifs, nous nous engageons à garantir la confidentialité de vos données personnelles
                    et à vous informer avant que celles-ci ne soient transférées ou soumises à de nouvelles règles de
                    confidentialité.
                </p>
                <h2>Finalité de la réutilisation des données personnelles collectées</h2>
                <p><strong>Effectuer les opérations relatives à la gestion des clients concernant</strong></p>
                <ul>
                    <li>Les contrats ; les commandes ; les livraisons ; les factures ; la comptabilité et en particulier
                        la gestion des comptes clients
                    </li>
                    <li>un programme de fidélité au sein d'une entité ou plusieurs entités juridiques ;</li>
                    <li>le suivi de la relation client tel que la réalisation d'enquêtes de satisfaction, la gestion des
                        réclamations et du service après-vente
                    </li>
                    <li>la sélection de clients pour réaliser des études, sondages et tests produits (sauf consentement
                        des personnes concernées recueilli dans les conditions prévues à l’article 6, ces opérations ne
                        doivent pas conduire à l'établissement de profils susceptibles de faire apparaître des données
                        sensibles - origines raciales ou ethniques, opinions philosophiques, politiques, syndicales,
                        religieuses, vie sexuelle ou santé des personnes)
                    </li>
                </ul>
                <p><strong>Effectuer des opérations relatives à la prospection</strong></p>
                <ul>
                    <li>la gestion d'opérations techniques de prospection (ce qui inclut notamment les opérations
                        techniques comme la normalisation, l'enrichissement et la déduplication)
                    </li>
                    <li>la sélection de personnes pour réaliser des actions de fidélisation, de prospection, de sondage,
                        de test produit et de promotion. Sauf consentement des personnes concernées recueilli dans les
                        conditions prévues à l'article 6, ces opérations ne doivent pas conduire à l'établissement de
                        profils susceptibles de faire apparaître des données sensibles (origines raciales ou ethniques,
                        opinions philosophiques, politiques, syndicales, religieuses, vie sexuelle ou santé des
                        personnes)
                    </li>
                    <li>la réalisation d'opérations de sollicitations</li>
                </ul>
                <p><strong>La gestion des avis des personnes sur des produits, services ou contenus</strong></p>
                <h2>Agrégation des données</h2>
                <p><strong>Agrégation avec des données non personnelles</strong><br>
                    Nous pouvons publier, divulguer et utiliser les informations agrégées (informations relatives à tous
                    nos Utilisateurs ou à des groupes ou catégories spécifiques d'Utilisateurs que nous combinons de
                    manière à ce qu'un Utilisateur individuel ne puisse plus être identifié ou mentionné) et les
                    informations non personnelles à des fins d'analyse du secteur et du marché, de profilage
                    démographique, à des fins promotionnelles et publicitaires et à d'autres fins commerciales.<br><br>
                    <strong>Agrégation avec des données personnelles disponibles sur les comptes sociaux de
                        l'Utilisateur</strong><br>
                    Si vous connectez votre compte à un compte d’un autre service afin de faire des envois croisés,
                    ledit service pourra nous communiquer vos informations de profil, de connexion, ainsi que toute
                    autre information dont vous avez autorisé la divulgation. Nous pouvons agréger les informations
                    relatives à tous nos autres Utilisateurs, groupes, comptes, aux données personnelles disponibles sur
                    l’Utilisateur.</p>
                <h2>Collecte des données d'identité</h2>
                <p><strong>Inscription et identification préalable pour la fourniture du service</strong><br>
                    L’utilisation du Site nécessite une inscription et une identification préalable. Vos données
                    nominatives (nom, prénom, adresse postale, e-mail, numéro de téléphone,...) sont utilisées pour
                    exécuter nos obligations légales résultant de la livraison des produits et / ou des services, en
                    vertu du Contrat de licence utilisateur final, de la Limite de garantie, le cas échéant, ou de toute
                    autre condition applicable. Vous ne fournirez pas de fausses informations nominatives et ne créerez
                    pas de compte pour une autre personne sans son autorisation. Vos coordonnées devront toujours être
                    exactes et à jour.</p>
                <h2>Collecte des données d'identification</h2>
                <p><strong>Utilisation de l'identifiant de l’utilisateur uniquement pour l’accès aux
                    services</strong><br>
                    Nous utilisons vos identifiants électroniques seulement pour et pendant l'exécution du contrat.</p>
                <h2>Collecte des données du terminal</h2>
                <p><strong>Collecte des données de profilage et des données techniques à des fins de fourniture du
                    service</strong><br>
                    Certaines des données techniques de votre appareil sont collectées automatiquement par le Site. Ces
                    informations incluent notamment votre adresse IP, fournisseur d'accès à Internet, configuration
                    matérielle, configuration logicielle, type et langue du navigateur... La collecte de ces données est
                    nécessaire à la fourniture des services.<br><br>
                    <strong>Collecte des données techniques à des fins publicitaires, commerciales et
                        statistiques</strong><br>
                    Les données techniques de votre appareil sont automatiquement collectées et enregistrées par le
                    Site, à des fins publicitaires, commerciales et statistiques. Ces informations nous aident à
                    personnaliser et à améliorer continuellement votre expérience sur notre Site. Nous ne collectons ni
                    ne conservons aucune donnée nominative (nom, prénom, adresse...) éventuellement attachée à une
                    donnée technique. Les données collectées sont susceptibles d’être revendues à des tiers.</p>
                <h2>Cookies</h2>
                <p><strong>Durée de conservation des cookies</strong><br>
                    Conformément aux recommandations de la CNIL, la durée maximale de conservation des cookies est de 13
                    mois au maximum après leur premier dépôt dans le terminal de l'Utilisateur, tout comme la durée de
                    la validité du consentement de l’Utilisateur à l’utilisation de ces cookies. La durée de vie des
                    cookies n’est pas prolongée à chaque visite. Le consentement de l’Utilisateur devra donc être
                    renouvelé à l'issue de ce délai.<br><br>
                    <strong>Finalité cookies</strong><br>
                    Les cookies peuvent être utilisés pour des fins statistiques notamment pour optimiser les services
                    rendus à l'Utilisateur, à partir du traitement des informations concernant la fréquence d'accès, la
                    personnalisation des pages ainsi que les opérations réalisées et les informations consultées. Vous
                    êtes informé que l'Éditeur est susceptible de déposer des cookies sur votre terminal. Le cookie
                    enregistre des informations relatives à la navigation sur le service (les pages que vous avez
                    consultées, la date et l'heure de la consultation...) que nous pourrons lire lors de vos visites
                    ultérieures.<br><br>
                    <strong>Droit de l'Utilisateur de refuser les cookies</strong><br>
                    Vous reconnaissez avoir été informé que l'Éditeur peut avoir recours à des cookies. Si vous ne
                    souhaitez pas que des cookies soient utilisés sur votre terminal, la plupart des navigateurs vous
                    permettent de désactiver les cookies en passant par les options de réglage.</p>

                <h2>Conservation des données techniques</h2>
                <p><strong>Durée de conservation des données techniques</strong><br>
                    Les données techniques sont conservées pour la durée strictement nécessaire à la réalisation des
                    finalités visées ci-avant.</p>
                <h2>Délai de conservation des données personnelles et d'anonymisation</h2>
                <p><strong>Conservation des données pendant la durée de la relation contractuelle</strong><br>
                    Conformément à l'article 6-5° de la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux
                    fichiers et aux libertés, les données à caractère personnel faisant l'objet d'un traitement ne sont
                    pas conservées au-delà du temps nécessaire à l'exécution des obligations définies lors de la
                    conclusion du contrat ou de la durée prédéfinie de la relation contractuelle.<br><br>
                    <strong>Conservation des données anonymisées au delà de la relation contractuelle / après la
                        suppression du compte</strong><br>
                    Nous conservons les données personnelles pour la durée strictement nécessaire à la réalisation des
                    finalités décrites dans les présentes CGU. Au-delà de cette durée, elles seront anonymisées et
                    conservées à des fins exclusivement statistiques et ne donneront lieu à aucune exploitation, de
                    quelque nature que ce soit.<br><br>
                    <strong>Suppression des données après suppression du compte</strong><br>
                    Des moyens de purge de données sont mis en place afin d'en prévoir la suppression effective dès lors
                    que la durée de conservation ou d'archivage nécessaire à l'accomplissement des finalités déterminées
                    ou imposées est atteinte. Conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique,
                    aux fichiers et aux libertés, vous disposez par ailleurs d'un droit de suppression sur vos données
                    que vous pouvez exercer à tout moment en prenant contact avec l'Éditeur.<br><br>
                    <strong>Suppression des données après 3 ans d'inactivité</strong><br>
                    Pour des raisons de sécurité, si vous ne vous êtes pas authentifié sur le Site pendant une période
                    de trois ans, vous recevrez un e-mail vous invitant à vous connecter dans les plus brefs délais,
                    sans quoi vos données seront supprimées de nos bases de données.</p>
                <h2>Suppression du compte</h2>
                <p><strong>Suppression du compte à la demande</strong><br>
                    L'Utilisateur a la possibilité de supprimer son Compte à tout moment, par simple demande à l'Éditeur
                    OU par le menu de suppression de Compte présent dans les paramètres du Compte le cas
                    échéant.<br><br>
                    <strong>Suppression du compte en cas de violation des CGU</strong><br>
                    En cas de violation d'une ou de plusieurs dispositions des CGU ou de tout autre document incorporé
                    aux présentes par référence, l'Éditeur se réserve le droit de mettre fin ou restreindre sans aucun
                    avertissement préalable et à sa seule discrétion, votre usage et accès aux services, à votre compte
                    et à tous les Sites.</p>
                <h2>Indications en cas de faille de sécurité décelée par l'Éditeur</h2>
                <p><strong>Information de l'Utilisateur en cas de faille de sécurité</strong><br>
                    Nous nous engageons à mettre en oeuvre toutes les mesures techniques et organisationnelles
                    appropriées afin de garantir un niveau de sécurité adapté au regard des risques d'accès accidentels,
                    non autorisés ou illégaux, de divulgation, d'altération, de perte ou encore de destruction des
                    données personnelles vous concernant. Dans l'éventualité où nous prendrions connaissance d'un accès
                    illégal aux données personnelles vous concernant stockées sur nos serveurs ou ceux de nos
                    prestataires, ou d'un accès non autorisé ayant pour conséquence la réalisation des risques
                    identifiés ci-dessus, nous nous engageons à :</p>
                <ul>
                    <li>Vous notifier l'incident dans les plus brefs délais ;</li>
                    <li>Examiner les causes de l'incident et vous en informer ;</li>
                    <li>Prendre les mesures nécessaires dans la limite du raisonnable afin d'amoindrir les effets
                        négatifs et préjudices pouvant résulter dudit incident
                    </li>
                </ul>
                <p>
                    <strong>Limitation de la responsabilité</strong><br>
                    En aucun cas les engagements définis au point ci-dessus relatifs à la notification en cas de faille
                    de sécurité ne peuvent être assimilés à une quelconque reconnaissance de faute ou de responsabilité
                    quant à la survenance de l'incident en question.</p>
                <h2>Transfert des données personnelles à l'étranger</h2>
                <p><strong>Pas de transfert en dehors de l'Union européenne</strong><br>
                    L'Éditeur s'engage à ne pas transférer les données personnelles de ses Utilisateurs en dehors de
                    l'Union européenne.</p>
                <h2>Modification de la politique de confidentialité</h2>
                <p><strong>En cas de modification des présentes CGU, engagement de ne pas baisser le niveau de
                    confidentialité de manière substantielle sans l'information préalable des personnes
                    concernées</strong><br>
                    Nous nous engageons à vous informer en cas de modification substantielle des présentes politiques de
                    confidentialité, et à ne pas baisser le niveau de confidentialité de vos données de manière
                    substantielle sans vous en informer et obtenir votre consentement.</p>
                <h2>Droit applicable et modalités de recours</h2>
                <p><strong>Application du droit français (législation CNIL) et compétence des tribunaux</strong><br>
                    Les présentes CGU et votre utilisation du Site sont régies et interprétées conformément aux lois de
                    France, et notamment à la Loi n° 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et
                    aux libertés. Le choix de la loi applicable ne porte pas atteinte à vos droits en tant que
                    consommateur conformément à la loi applicable de votre lieu de résidence. Si vous êtes un
                    consommateur, vous et nous acceptons de se soumettre à la compétence non-exclusive des juridictions
                    françaises, ce qui signifie que vous pouvez engager une action relative aux présentes CGU en France
                    ou dans le pays de l'UE dans lequel vous vivez. Si vous êtes un professionnel, toutes les actions à
                    notre encontre doivent être engagées devant une juridiction en France.<br><br>
                    En cas de litige, les parties chercheront une solution amiable avant toute action judiciaire. En cas
                    d'échec de ces tentatives, toutes contestations à la validité, l'interprétation et / ou l'exécution
                    des présentes CGU devront être portées même en cas de pluralité des défendeurs ou d'appel en
                    garantie, devant les tribunaux français.</p>
                <h2>Portabilité des données</h2>
                <p><strong>Portabilité des données</strong><br>
                    L'Éditeur s'engage à vous offrir la possibilité de vous faire restituer l'ensemble des données vous
                    concernant sur simple demande. L'Utilisateur se voit ainsi garantir une meilleure maîtrise de ses
                    données, et garde la possibilité de les réutiliser. Ces données devront être fournies dans un format
                    ouvert et aisément réutilisable.</p>
            </div>
        </div>
    </section>
{% endblock %}