{% extends 'other_base.html' %}
{% block content %}
    <header id="home" class="partial-height">
        <div class="height-page">
            <div class="title-other-page">
                <h1 itemprop="name">Mentions légales
                </h1>
            </div>
        </div>
    </header>

    <div class="loader"></div>
    <section class="mentions">
        <div class="container">
            <p class="center intro-partial">Le document suivant fournit des données obligatoires concernant l'éditeur du
                site, ces obligations en matière de protection des données, ainsi que d'autres références juridiques
                importantes concernant le site Internet de Spliiit (www.spliiit.com) tel que requis par la loi.</p>
            <div class="bloc-white padding3050 margin50">
                <h2>SPLIIIT</h2>
                <p>SAS au capital de 71 280 €<br>
                    RCS Troyes 850 505 694 00016<br>
                    TVA n°: FR 91 850 505 694<br>
                    Siège social : 2 rue Gustave Eiffel – 10430 Rosière-Près-Troyes – France.
                </p>
            </div>
            <div class="bloc-white padding3050 margin50">
                <h2>DIRECTEUR DE PUBLICATION</h2>
                <p><strong>Jonathan Lalinec</strong><br>
                    contact@spliiit.com
                </p>
                <h2>HÉBERGEUR DU SITE</h2>
                <p><strong>Online SAS</strong><br>
                    SAS au capital de 214 410,50 €<br>
                    RCS Paris B 433 115 904<br>
                    TVA n°: FR 35 433115904<br>
                    Siège social : BP 438 - 75366 Paris CEDEX 08 – France.
                </p>
            </div>
            <div class="bloc-white padding3050 margin50">
                <h2>COPYRIGHT – PROPRIÉTÉ INTELLECTUELLE</h2>
                <p>Les marques, logos, photos, textes, médias, documents et plus généralement la totalité des contenus
                    du site internet spliiit.com sont la propriété exclusive de SPLIIIT ou diffusés avec l’autorisation
                    de leurs propriétaires. Toute reproduction, duplication même partielle est strictement interdite. Le
                    site internet spliiit.com est protégé par les lois de la propriété intellectuelle. En cas
                    d’infraction, le contrevenant s’expose à des poursuites judiciaires.
                    Tous les contenus du site internet spliiit.com sont présentés à titre informatif, non contractuels
                    et peuvent être soumis à modifications sans préavis.
                </p>
            </div>
        </div>
    </section>

  {% endblock %}