{% extends 'other_base.html' %}
{% block content %}
<header id="home" class="partial-height">
    <div class="height-page">
        <div class="title-other-page">
            <h1 itemprop="name">Conditions générales de vente et d'utilisation
            </h1>
        </div>
    </div>
</header>

<div class="loader"></div>
<section class="cgu">
    <div class="container">
        <p class="center intro-partial">L'accès aux services proposés par Spliiit se fera uniquement sous la réserve de
            l'acceptation des conditions décrites ci-dessous que Spliiit est libre de modifier à tout moment et sans
            aucun préavis. L'utilisateur est invité à se référer régulièrement à la dernière version des présentes
            conditions disponibles en permanence à l'adresse suivante : https://www.spliiit.com/cgu La version française
            de ce document prévaut sur toutes les autres langues.
        </p>
        <div class="bloc-white padding3050 margin50">
            <h2>Définitions</h2>
            <p>Dans ce texte "compte partagé", "compte(s)" et "spliiit" ont des significations équivalentes.</p>
            <h2>Droits intellectuels</h2>
            <p>Le concept de comptes partagés sur Internet, matérialisé ici sous le nom "spliiit" est protégé par les
                droits d'auteur. Le nom Spliiit ainsi que tous ses logos sont des marques déposées. Il n'est pas
                autorisé d'utiliser ces marques à des fins personnelles, quelles qu'elles soient. L'utilisateur de
                Spliiit s'engage à ne pas reproduire, copier, vendre, marchander ou céder tout ou partie des services de
                Spliiit, sous aucun prétexte. Il s'engage également à ne pas masquer ou modifier nos services (la marque
                Spliiit par exemple).</p>
            <h2>Partie "Spliiit"</h2>
            <p>Spliiit est intermédiaire de paiement (partenaire de Lemonway, établissement de paiement agréé par l’ACPR
                en France le 24/12/2012 sous le numéro 16568J) permettant de partager le coût de ses abonnements avec
                ses proches, mais également les Spliiiters lorsque le service le permet. Spliiit permet de choisir le
                service par abonnement référencé et proposé par les utilisateurs ou créer son offre personnelle. Les
                services proposés sur Spliiit sont référencés selon plusieurs critères, chaque service permet d’être
                accessible pour plusieurs utilisateurs et/ou appareils. Le propriétaire et le souscripteur est tenu
                d’accepter et prendre connaissance des conditions de chaque service avant de le proposer ou y
                souscrire. </p>
            <h2>Partie "gestion des abonnements"</h2>
            <p>Pour effectuer un paiement par abonnement, Spliiit fait appel aux services de paiement de Lemon Way. En
                utilisant l’abonnement électronique proposé par Spliiit et donc le système de paiement Lemon Way, vous
                acceptez, en tant que payeur, que les Conditions Générales d'utilisation de Lemon Way soient
                d'application entre vous et Lemon Way. Les Conditions Générales d'utilisation de Lemon Way sont jointes
                aux présentes Conditions et font partie intégrante de celles-ci. Lorsqu'une personne effectue un
                paiement dans le cadre de la gestion des abonnements opérée par Spliiit, le propriétaire du Spliiit en
                sera avisée par mail. Chaque remboursement effectué transitera par un compte d'attente de Spliiit auprès
                de Lemon Way.</p>
            <h2>Cadre d'utilisation approprié</h2>
            <p>Spliiit est adapté seulement pour une utilisation familiale, c'est-à-dire pour un usage entre des membres
                d'une même famille ou entre amis. Vous utiliserez donc Spliiit seulement parce que vous connaissez
                personnellement vos spliiiter (amis, famille, collègues) soient liées moralement ou contractuellement
                entre eux ou vous vivez sous le même toit.</p>
            <h2>Frais</h2>
            <p><strong>Bénéficiaires (Propriétaire du Spliiit)</strong><br>
                Spliiit, facturera des frais au Bénéficiaire correspondant à la mise en relation sur la MarketPlace. Ils
                représentent un pourcentage (25%) du montant total mis à la disposition du Bénéficiaire, dans la limite
                de 1Euro.<br><br>
                <strong>Participants (Souscripteur du Spliiit)</strong><br>
                Spliiit, facturera des frais au Participant correspondant à la fourniture de tous les services qui lui
                sont fournis en application des présentes et les frais bancaires. Ils représentent un pourcentage de 5%,
                arrondi au centième de centime supérieur selon le cas + 0,20€ de frais fixe. Ils pourront être modifiés
                à tout moment sur notification après le respect d’un préavis de deux mois.
            </p>
            <h2>Politique de remboursement</h2>
            <p>Le Participant (Souscripteur du Spliiit), peut demander un remboursement 30 jours après le débit de sa
                carte bancaire. Les fonds ne pourront être retiré par le Bénéficiaire (Propriétaire du Spliiit) durant
                ce délais.<br><br>
                <strong>Pour le propriétaire</strong><br>
                Il est à noter que le remboursement des Spliiiter est déduit de la cagnotte du propriétaire. Celui-ci
                peut également être soumis à des frais supplémentaires correspondant aux frais de dossier. Ceux-ci
                s’élèvent à 0,30€ pour les cas listés ci-dessous : <br><br>
                - Vous n’avez pas fourni l’accès au service.<br>
                - Vous désirez supprimer un de vos co-abonnés de votre Spliiit sans raisons valables.<br>
                - Le service n’a pas été fournit pour un minimum de 30 jours à vos co-abonnés.<br><br>
                Le propriétaire a la possibilité de prévoir l’arrêt de son abonnement en cliquant sur "arrêter le
                partage".
                <br><br>
                <strong>Pour le souscripteur<br>
                    Un remboursement peut être demandé dans les cas suivants :</strong><br>
                - Non accès au service pour une durée de 30 jours à compter de votre date de souscription<br>
                - Les identifiants de connexion ont été modifiés et le propriétaire ne donne plus de nouvelles<br>
                - Vous avez été retiré de l’abonnement sans raisons valables
                L’offre souscrite ne correspond pas au service proposé par le propriétaire <br><br>
                <strong>Vous ne pouvez pas demander de remboursement dans les cas suivants :</strong><br>
                - Vous décidez de quitter un Spliiit de votre propre décision sans vouloir profiter de la fin du
                service.<br>
                - Vous avez accès au service mais le catalogue ne vous convient pas ou le service ne correspond pas à
                vos attentes.<br>
                - Vous souhaitiez tester un service.<br>
                - Certaines règles spécifiques aux différents services sont explicitement écrites dans la description
                des offres de la Marketplace. Vous ne pourrez demander un remboursement si une erreur venait à être
                commise.<br>
                - Le propriétaire vous a fourni les accès ou vous a envoyé une invitation mais vous n’arrivez pas à
                accéder à l’offre. Spliiit ne peut être tenu responsable d’une mauvaise utilisation d’un service. Nous
                vous invitons à consulter la FAQ des distributeurs.</p>

            <h2>Conditions d'accès</h2>
            <p>Comme utilisateur de Spliiit, vous devez à tout moment : fournir des données correctes à Spliiit ainsi
                qu'au groupe participant aux comptes ; toujours vérifier les informations vous concernant Comme
                utilisateur de Spliiit, vous vous engagez expressément à NE JAMAIS : véhiculer du contenu qui soit
                illégal, nuisible, menaçant, abusif, constitutif de harcèlement, diffamatoire, vulgaire, obscène,
                menaçant pour la vie privée d'autrui, haineux, raciste, ou autrement répréhensible ; véhiculer du
                contenu violant un brevet ou une marque déposée ; porter atteinte de façon quelconque à d'autres
                utilisateurs ; harceler de quelque manière que ce soit un autre ou plusieurs autres utilisateurs ;
                tenter de tromper ou d'induire en erreur d'autres utilisateurs ; utiliser Spliiit dans des chaînes
                d'emails (de type "hoax") ; entraver ou perturber intentionnellement nos services ; avoir une
                utilisation de Spliiit qui serait contraire à la loi Française ; violer, intentionnellement ou non,
                toute loi ou réglementation nationale ou internationale en vigueur et toutes autres règles ayant force
                de loi ; reproduire, copier, vendre, revendre, ou exploiter dans un but commercial quel qu'il soit toute
                partie ou utilisation de nos services, tout droit d'accès à nos services. Spliiit n'est en aucun cas
                responsable de l'exactitude ou de la précision des données rentrées par vous ou par vos amis sur
                Spliiit. Spliiit ne jouera pas les arbitres au sein de votre groupe et ne pourra être tenu responsable
                d’un refus de paiement ou une résiliation d’un ami. En aucun cas Spliiit ne pourra être tenu responsable
                de quelque nature que ce soit de dégâts directs ou indirects qui résulteraient : d'une utilisation
                inappropriée de ses services d'une utilisation jugée illégale ou frauduleuse de ses services de
                l'inexactitude des données sur un compte partagé (un spliiit) de résultats erronés fournis par ses
                services d'une indisponibilité temporaire ou durable de ses services d'une défaillance quelconque de ses
                services de toute cause en relation avec ses services.</p>
            <h2>Avertissement</h2>
            <p>Un spliiit (également appelé compte partagé) ne peut JAMAIS avoir une quelconque valeur contractuelle aux
                yeux des utilisateurs. Pour le bon fonctionnement de l'outil, il est important que ceux ayant accès à un
                même spliiit (amis, famille, collègues) soient liées moralement ou contractuellement entre eux. Un lien
                http chiffré permet d'accéder au spliiit. Ce lien est unique, ne peut pas être modifié. Ce lien donne un
                accès au spliiit en lecture. Il est important de ne jamais communiquer ce lien à des personnes autre que
                vos amis, familles… La probabilité de trouver ce lien "par hasard" est pratiquement nulle. Néanmoins, il
                n'est pas impossible à un étranger de se l’approprier. Vous comprenez que Spliiit ne peut être tenu
                responsable de l'utilisation que vous ou l'un des membres de votre groupe faites du lien vers un compte
                partagé.</p>
            <h2>Suspension et interruption d'accès aux services</h2>
            <p>Spliiit a le droit d'arrêter ses services (ou une partie d'entre eux) de manière provisoire ou durable,
                de les supprimer ou modifier ou d'en introduire de nouveaux sans préavis. Spliiit se réserve le droit
                (mais n'est pas obligé de le faire) de supprimer un spliiit ou de bannir un ou des utilisateur(s) sans
                aucune justification et sans aucun préavis.</p>
            <h2>Suppression d'un spliiit</h2>
            <p>La durée de vie d'un spliiit inactif et non partagé est de trois mois. Après ces 3 mois, les informations
                contenues sur le compte partagé pourraient être définitivement supprimées.</p>
            <h2>Respect de la vie privée</h2>
            <p>Une page dédiée concernant la politique de confidentialité est disponible à l’adresse
                www.spliiit.com/privacy-policies</p>
            <h2>Tracking</h2>
            <p>Spliiit utilise Google analytics dans chacune de ses pages. Cette technique permet à Spliiit de monitorer
                l'usage de son site et de repérer d'éventuels bugs ou problèmes.</p>
            <h2>Loi applicable et juridiction compétente</h2>
            <p>Les présentes conditions générales d'utilisation sont régies par la loi Française. Tout litige sera
                soumis à la compétence exclusive des tribunaux de Nanterre (France).</p>
            <h2>Annexes</h2>
            <p><a href="contrat-lemonway.html">Annexe 1 – Conditions Générales de Lemon Way</a></p>
        </div>
    </div>
</section>
{% endblock %}