{% extends 'other_base.html' %}
{% block content %}
    <header id="home" class="partial-height">
        <div class="height-page">
            <div class="title-other-page">
                <h1 itemprop="name">Comment partager ses abonnements sur Spliiit ?
                </h1>
            </div>
        </div>
    </header>

    <div class="loader"></div>
    <section class="container blog">
        <div class="list-all-blog">
            <div class="flex center-list width50">
                <div class="bloc-white bloc-article">
                    <a href="blog/post/comment-partager-un-abonnement-le-monde-.html">
                        <div class="img-list-blog"
                             style="background-image:url(../images.prismic.io/spliiit/2f48f67f-9136-4318-bac5-6d15a9f5c0f7_Le%2bmonde71fb.jpg?auto=compress,format);">
                            <svg class="arrondis-theme white-arrondis" version="1.1" id="Calque_1"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                 y="0px" viewBox="0 0 1440 48" style="enable-background:new 0 0 1440 48;"
                                 xml:space="preserve">
                        <path d="M1440,48H0V0c0,0,205,47,720,47s720-46.9,720-46.9V48z"></path>
                        </svg>
                        </div>
                        <span class="tag-blog">Tutoriel</span>
                        <span class="tag-blog">Presse</span>
                        <h2>Comment partager un abonnement Le Monde ?</h2>
                        <p>Tutoriel</p>
                        <p class="date-blog">Le 9 Juin 2020</p>
                    </a>
                </div>
            </div>
            <div class="flex center-list width50">
                <div class="bloc-white bloc-article">
                    <a href="blog/post/comment-partager-un-abonnement-mediapart-.html">
                        <div class="img-list-blog"
                             style="background-image:url(../images.prismic.io/spliiit/b6ae9404-d319-42ff-ab89-14a1f0491436_Mediapart%2blogo71fb.jpg?auto=compress,format);">
                            <svg class="arrondis-theme white-arrondis" version="1.1" id="Calque_1"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                 y="0px" viewBox="0 0 1440 48" style="enable-background:new 0 0 1440 48;"
                                 xml:space="preserve">
                        <path d="M1440,48H0V0c0,0,205,47,720,47s720-46.9,720-46.9V48z"></path>
                        </svg>
                        </div>
                        <span class="tag-blog">Tutoriel</span>
                        <span class="tag-blog">Presse</span>
                        <h2>Comment partager un abonnement Mediapart ?</h2>
                        <p>Tutoriel</p>
                        <p class="date-blog">Le 9 Juin 2020</p>
                    </a>
                </div>
            </div>
            <div class="flex center-list width50">
                <div class="bloc-white bloc-article">
                    <a href="blog/post/comment-partager-un-abonnement-lexpress.html">
                        <div class="img-list-blog"
                             style="background-image:url(../images.prismic.io/spliiit/aeb9d0ac-c1f4-49b2-8e9a-dbf63e1aa0ec_L%27express71fb.jpg?auto=compress,format);">
                            <svg class="arrondis-theme white-arrondis" version="1.1" id="Calque_1"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                 y="0px" viewBox="0 0 1440 48" style="enable-background:new 0 0 1440 48;"
                                 xml:space="preserve">
                        <path d="M1440,48H0V0c0,0,205,47,720,47s720-46.9,720-46.9V48z"></path>
                        </svg>
                        </div>
                        <span class="tag-blog">Tutoriel</span>
                        <span class="tag-blog">Presse</span>
                        <h2>Comment partager un abonnement L&#039;Express ?</h2>
                        <p>Tutoriel</p>
                        <p class="date-blog">Le 9 Juin 2020</p>
                    </a>
                </div>
            </div>
            <div class="flex center-list width50">
                <div class="bloc-white bloc-article">
                    <a href="blog/post/comment-partager-son-abonnement-le-parisien.html">
                        <div class="img-list-blog"
                             style="background-image:url(../images.prismic.io/spliiit/b9de7971-6e02-44c3-8138-e2b613231c3e_Le%2bparisien%2bprismic71fb.jpg?auto=compress,format);">
                            <svg class="arrondis-theme white-arrondis" version="1.1" id="Calque_1"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                 y="0px" viewBox="0 0 1440 48" style="enable-background:new 0 0 1440 48;"
                                 xml:space="preserve">
                        <path d="M1440,48H0V0c0,0,205,47,720,47s720-46.9,720-46.9V48z"></path>
                        </svg>
                        </div>
                        <span class="tag-blog">Tutoriel</span>
                        <span class="tag-blog">Presse</span>
                        <h2>Comment partager son abonnement Le Parisien ?</h2>
                        <p>Tutoriel</p>
                        <p class="date-blog">Le 2 Juin 2020</p>
                    </a>
                </div>
            </div>
            <div class="flex center-list width50">
                <div class="bloc-white bloc-article">
                    <a href="blog/post/etape1-configurer-un-groupe-familial.html">
                        <div class="img-list-blog"
                             style="background-image:url(../images.prismic.io/spliiit/f8bbc7bb-d860-4edc-87ff-5d7c93e45df4_googleone71fb.jpg?auto=compress,format);">
                            <svg class="arrondis-theme white-arrondis" version="1.1" id="Calque_1"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                 y="0px" viewBox="0 0 1440 48" style="enable-background:new 0 0 1440 48;"
                                 xml:space="preserve">
                        <path d="M1440,48H0V0c0,0,205,47,720,47s720-46.9,720-46.9V48z"></path>
                        </svg>
                        </div>
                        <span class="tag-blog">Tutoriel</span>
                        <span class="tag-blog">Cloud</span>
                        <h2>comment partager un abonnement Google One ?</h2>
                        <p>Tutoriel</p>
                        <p class="date-blog">Le 2 Juin 2020</p>
                    </a>
                </div>
            </div>
            <div class="flex center-list width50">
                <div class="bloc-white bloc-article">
                    <a href="blog/post/comment-partage-un-compte-lastpass.html">
                        <div class="img-list-blog"
                             style="background-image:url(../images.prismic.io/spliiit/57b67103-e268-491a-ba84-b50f0dca4a65_lastpass71fb.jpg?auto=compress,format);">
                            <svg class="arrondis-theme white-arrondis" version="1.1" id="Calque_1"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                 y="0px" viewBox="0 0 1440 48" style="enable-background:new 0 0 1440 48;"
                                 xml:space="preserve">
                        <path d="M1440,48H0V0c0,0,205,47,720,47s720-46.9,720-46.9V48z"></path>
                        </svg>
                        </div>
                        <span class="tag-blog">Tutoriel</span>
                        <span class="tag-blog">Sécurité</span>
                        <h2>Comment partager un compte LastPass ?</h2>
                        <p>Tutoriel</p>
                        <p class="date-blog">Le 2 Juin 2020</p>
                    </a>
                </div>
            </div>
            <div class="flex center-list width50">
                <div class="bloc-white bloc-article">
                    <a href="blog/post/comment-partager-son-compte-starzplay-.html">
                        <div class="img-list-blog"
                             style="background-image:url(../images.prismic.io/spliiit/0d1f4a00-2b0b-49ba-8a84-f8841a7c1283_starzplay71fb.jpg?auto=compress,format);">
                            <svg class="arrondis-theme white-arrondis" version="1.1" id="Calque_1"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                 y="0px" viewBox="0 0 1440 48" style="enable-background:new 0 0 1440 48;"
                                 xml:space="preserve">
                        <path d="M1440,48H0V0c0,0,205,47,720,47s720-46.9,720-46.9V48z"></path>
                        </svg>
                        </div>
                        <span class="tag-blog">Tutoriel</span>
                        <span class="tag-blog">Bonnes Pratiques</span>
                        <span class="tag-blog">SVOD</span>
                        <h2>Comment partager son compte StarzPlay ?</h2>
                        <p>Tutoriel</p>
                        <p class="date-blog">Le 2 Juin 2020</p>
                    </a>
                </div>
            </div>
            <div class="flex center-list width50">
                <div class="bloc-white bloc-article">
                    <a href="blog/post/partager-son-abonnement-apple-music.html">
                        <div class="img-list-blog"
                             style="background-image:url(../images.prismic.io/spliiit/1c17b542-02e9-4074-b18a-44389c45ed96_apple%2barcade71fb.jpg?auto=compress,format);">
                            <svg class="arrondis-theme white-arrondis" version="1.1" id="Calque_1"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                 y="0px" viewBox="0 0 1440 48" style="enable-background:new 0 0 1440 48;"
                                 xml:space="preserve">
                        <path d="M1440,48H0V0c0,0,205,47,720,47s720-46.9,720-46.9V48z"></path>
                        </svg>
                        </div>
                        <span class="tag-blog">Tutoriel</span>
                        <span class="tag-blog">Groupe</span>
                        <h2>Partager son abonnement Apple arcade</h2>
                        <p>Tutoriel</p>
                        <p class="date-blog">Le 2 Juin 2020</p>
                    </a>
                </div>
            </div>
            <div class="flex center-list width50">
                <div class="bloc-white bloc-article">
                    <a href="blog/post/le-partage-de-ce-service-se-fait-par-invitation.html">
                        <div class="img-list-blog"
                             style="background-image:url(../images.prismic.io/spliiit/07d12010-b2ee-434d-8f45-24544fc24f6d_apple%2btv%2b71fb.html?auto=compress,format);">
                            <svg class="arrondis-theme white-arrondis" version="1.1" id="Calque_1"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                 y="0px" viewBox="0 0 1440 48" style="enable-background:new 0 0 1440 48;"
                                 xml:space="preserve">
                        <path d="M1440,48H0V0c0,0,205,47,720,47s720-46.9,720-46.9V48z"></path>
                        </svg>
                        </div>
                        <span class="tag-blog">Tutoriel</span>
                        <span class="tag-blog">Groupe</span>
                        <h2>Partager son abonnement Apple TV+</h2>
                        <p>Tutoriel</p>
                        <p class="date-blog">Le 2 Juin 2020</p>
                    </a>
                </div>
            </div>
            <div class="flex center-list width50">
                <div class="bloc-white bloc-article">
                    <a href="blog/post/comment-partager-un-compte-setapp.html">
                        <div class="img-list-blog"
                             style="background-image:url(../images.prismic.io/spliiit/8a0402d3-c990-41f3-9c30-c8c765ed6ee6_Setappcouv71fb.jpg?auto=compress,format);">
                            <svg class="arrondis-theme white-arrondis" version="1.1" id="Calque_1"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                 y="0px" viewBox="0 0 1440 48" style="enable-background:new 0 0 1440 48;"
                                 xml:space="preserve">
                        <path d="M1440,48H0V0c0,0,205,47,720,47s720-46.9,720-46.9V48z"></path>
                        </svg>
                        </div>
                        <span class="tag-blog">Tutoriel</span>
                        <span class="tag-blog">Applications</span>
                        <h2>Comment partager un compte Setapp ?</h2>
                        <p>Tutoriel</p>
                        <p class="date-blog">Le 28 Mai 2020</p>
                    </a>
                </div>
            </div>
            <div class="flex center-list width50">
                <div class="bloc-white bloc-article">
                    <a href="blog/post/commment-partager-un-compte-1password.html">
                        <div class="img-list-blog"
                             style="background-image:url(../images.prismic.io/spliiit/68a3be60-8644-4ba1-874a-e89925cf33d5_1password71fb.jpg?auto=compress,format);">
                            <svg class="arrondis-theme white-arrondis" version="1.1" id="Calque_1"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                 y="0px" viewBox="0 0 1440 48" style="enable-background:new 0 0 1440 48;"
                                 xml:space="preserve">
                        <path d="M1440,48H0V0c0,0,205,47,720,47s720-46.9,720-46.9V48z"></path>
                        </svg>
                        </div>
                        <span class="tag-blog">Tutoriel</span>
                        <span class="tag-blog">Sécurité</span>
                        <h2>Comment partager un compte 1Password ?</h2>
                        <p>Tutoriel</p>
                        <p class="date-blog">Le 27 Mai 2020</p>
                    </a>
                </div>
            </div>
            <div class="flex center-list width50">
                <div class="bloc-white bloc-article">
                    <a href="blog/post/comment-partager-son-compte-disney.html">
                        <div class="img-list-blog"
                             style="background-image:url(../images.prismic.io/spliiit/1ae194f5-89c6-484c-9a88-28dc63982daf_Cover%2bblog71fb.png?auto=compress,format);">
                            <svg class="arrondis-theme white-arrondis" version="1.1" id="Calque_1"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                 y="0px" viewBox="0 0 1440 48" style="enable-background:new 0 0 1440 48;"
                                 xml:space="preserve">
                        <path d="M1440,48H0V0c0,0,205,47,720,47s720-46.9,720-46.9V48z"></path>
                        </svg>
                        </div>
                        <span class="tag-blog">Bonnes Pratiques</span>
                        <span class="tag-blog">SVOD</span>
                        <span class="tag-blog">Tutoriel</span>
                        <h2>Comment partager son compte Disney+</h2>
                        <p>Bonnes pratiques</p>
                        <p class="date-blog">Le 14 Avril 2020</p>
                    </a>
                </div>
            </div>
            <div class="flex center-list width50">
                <div class="bloc-white bloc-article">
                    <a href="blog/post/comment-partager-un-abonnement-utomik-.html">
                        <div class="img-list-blog"
                             style="background-image:url(../images.prismic.io/spliiit/588bcdbf-7430-43cd-9c80-1eab21326237_utomiklogo71fb.jpg?auto=compress,format);">
                            <svg class="arrondis-theme white-arrondis" version="1.1" id="Calque_1"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                 y="0px" viewBox="0 0 1440 48" style="enable-background:new 0 0 1440 48;"
                                 xml:space="preserve">
                        <path d="M1440,48H0V0c0,0,205,47,720,47s720-46.9,720-46.9V48z"></path>
                        </svg>
                        </div>
                        <span class="tag-blog">Jeux</span>
                        <span class="tag-blog">Tutoriel</span>
                        <h2>Comment partager un abonnement Utomik ?</h2>
                        <p>Tutoriel</p>
                        <p class="date-blog">Le 13 Février 2020</p>
                    </a>
                </div>
            </div>
            <div class="flex center-list width50">
                <div class="bloc-white bloc-article">
                    <a href="blog/post/comment-partager-un-abonnement-blacknut-.html">
                        <div class="img-list-blog"
                             style="background-image:url(../images.prismic.io/spliiit/13e66be3-ca12-48dc-a72b-8211fc14d8b4_logoblacknut71fb.jpg?auto=compress,format);">
                            <svg class="arrondis-theme white-arrondis" version="1.1" id="Calque_1"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                 y="0px" viewBox="0 0 1440 48" style="enable-background:new 0 0 1440 48;"
                                 xml:space="preserve">
                        <path d="M1440,48H0V0c0,0,205,47,720,47s720-46.9,720-46.9V48z"></path>
                        </svg>
                        </div>
                        <span class="tag-blog">Jeux</span>
                        <span class="tag-blog">Tutoriel</span>
                        <h2>Comment partager un abonnement Blacknut ?</h2>
                        <p>Tutoriel</p>
                        <p class="date-blog">Le 13 Février 2020</p>
                    </a>
                </div>
            </div>
            <div class="flex center-list width50">
                <div class="bloc-white bloc-article">
                    <a href="blog/post/comment-partager-un-abonnement-nordvpn-.html">
                        <div class="img-list-blog"
                             style="background-image:url(../images.prismic.io/spliiit/18024739-3b9c-4457-b07c-116ca62c8d6f_nordvpnlogo71fb.jpg?auto=compress,format);">
                            <svg class="arrondis-theme white-arrondis" version="1.1" id="Calque_1"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                 y="0px" viewBox="0 0 1440 48" style="enable-background:new 0 0 1440 48;"
                                 xml:space="preserve">
                        <path d="M1440,48H0V0c0,0,205,47,720,47s720-46.9,720-46.9V48z"></path>
                        </svg>
                        </div>
                        <span class="tag-blog">Sécurité</span>
                        <span class="tag-blog">Tutoriel</span>
                        <h2>Comment partager un abonnement NordVPN ?</h2>
                        <p>Tutoriel</p>
                        <p class="date-blog">Le 12 Février 2020</p>
                    </a>
                </div>
            </div>
            <div class="flex center-list width50">
                <div class="bloc-white bloc-article">
                    <a href="blog/post/comment-partager-un-abonnement-le-figaro-.html">
                        <div class="img-list-blog"
                             style="background-image:url(../images.prismic.io/spliiit/d72a29fc-7069-458f-951c-e82efb257fe1_figarologo71fb.jpg?auto=compress,format);">
                            <svg class="arrondis-theme white-arrondis" version="1.1" id="Calque_1"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                 y="0px" viewBox="0 0 1440 48" style="enable-background:new 0 0 1440 48;"
                                 xml:space="preserve">
                        <path d="M1440,48H0V0c0,0,205,47,720,47s720-46.9,720-46.9V48z"></path>
                        </svg>
                        </div>
                        <span class="tag-blog">presse</span>
                        <span class="tag-blog">Tutoriel</span>
                        <h2>Comment partager un abonnement Le Figaro ?</h2>
                        <p>Tutoriel</p>
                        <p class="date-blog">Le 12 Février 2020</p>
                    </a>
                </div>
            </div>
            <div class="flex center-list width50">
                <div class="bloc-white bloc-article">
                    <a href="blog/post/comment-partager-un-abonnement-amazon-music-.html">
                        <div class="img-list-blog"
                             style="background-image:url(../images.prismic.io/spliiit/fd4774b8-ace2-4b7b-afdd-24e2728b8d39_amazon-music71fb.jpg?auto=compress,format);">
                            <svg class="arrondis-theme white-arrondis" version="1.1" id="Calque_1"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                 y="0px" viewBox="0 0 1440 48" style="enable-background:new 0 0 1440 48;"
                                 xml:space="preserve">
                        <path d="M1440,48H0V0c0,0,205,47,720,47s720-46.9,720-46.9V48z"></path>
                        </svg>
                        </div>
                        <span class="tag-blog">Musique</span>
                        <span class="tag-blog">Tutoriel</span>
                        <h2>Comment partager un abonnement Amazon music ?</h2>
                        <p>Tutoriel</p>
                        <p class="date-blog">Le 12 Février 2020</p>
                    </a>
                </div>
            </div>
            <div class="flex center-list width50">
                <div class="bloc-white bloc-article">
                    <a href="blog/post/comment-partager-un-abonnement-my-canal.html">
                        <div class="img-list-blog"
                             style="background-image:url(../images.prismic.io/spliiit/b689e9b8-27fc-423e-8239-1bce151e926d_canalserie71fb.jpg?auto=compress,format);">
                            <svg class="arrondis-theme white-arrondis" version="1.1" id="Calque_1"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                 y="0px" viewBox="0 0 1440 48" style="enable-background:new 0 0 1440 48;"
                                 xml:space="preserve">
                        <path d="M1440,48H0V0c0,0,205,47,720,47s720-46.9,720-46.9V48z"></path>
                        </svg>
                        </div>
                        <span class="tag-blog">SVOD</span>
                        <span class="tag-blog">Tutoriel</span>
                        <span class="tag-blog">Télévision</span>
                        <h2>Comment partager un abonnement Canal+ Séries ?</h2>
                        <p>Tutoriel</p>
                        <p class="date-blog">Le 11 Février 2020</p>
                    </a>
                </div>
            </div>
            <div class="flex center-list width50">
                <div class="bloc-white bloc-article">
                    <a href="blog/post/partager-un-abonnement-molotov-tv-est-ce-possible-.html">
                        <div class="img-list-blog"
                             style="background-image:url(../images.prismic.io/spliiit/3202d19f-1e19-4594-911f-ffd2dbc6e1ec_molotov71fb.jpg?auto=compress,format);">
                            <svg class="arrondis-theme white-arrondis" version="1.1" id="Calque_1"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                 y="0px" viewBox="0 0 1440 48" style="enable-background:new 0 0 1440 48;"
                                 xml:space="preserve">
                        <path d="M1440,48H0V0c0,0,205,47,720,47s720-46.9,720-46.9V48z"></path>
                        </svg>
                        </div>
                        <span class="tag-blog">SVOD</span>
                        <span class="tag-blog">Télévision</span>
                        <span class="tag-blog">Tutoriel</span>
                        <h2>Partager un abonnement Molotov TV est-ce possible ?</h2>
                        <p>Tutoriel</p>
                        <p class="date-blog">Le 11 Février 2020</p>
                    </a>
                </div>
            </div>
            <div class="flex center-list width50">
                <div class="bloc-white bloc-article">
                    <a href="blog/post/saviez-vous-que-vous-pouviez-partager-votre-compte.html">
                        <div class="img-list-blog"
                             style="background-image:url(../images.prismic.io/spliiit/3e88038e-6049-4fb9-a8d7-6f04b9e33c75_tidallogo71fb.jpg?auto=compress,format);">
                            <svg class="arrondis-theme white-arrondis" version="1.1" id="Calque_1"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                 y="0px" viewBox="0 0 1440 48" style="enable-background:new 0 0 1440 48;"
                                 xml:space="preserve">
                        <path d="M1440,48H0V0c0,0,205,47,720,47s720-46.9,720-46.9V48z"></path>
                        </svg>
                        </div>
                        <span class="tag-blog">Musique</span>
                        <span class="tag-blog">Streaming</span>
                        <span class="tag-blog">Tutoriel</span>
                        <h2>Partager son abonnement Tidal</h2>
                        <p>Tutoriel</p>
                        <p class="date-blog">Le 10 Février 2020</p>
                    </a>
                </div>
            </div>
            <div class="flex center-list width50">
                <div class="bloc-white bloc-article">
                    <a href="blog/post/partager-son-compte-ocs.html">
                        <div class="img-list-blog"
                             style="background-image:url(../images.prismic.io/spliiit/c7a94fed-6231-4515-b09c-e71042a1123c_logo71fb.jpg?auto=compress,format);">
                            <svg class="arrondis-theme white-arrondis" version="1.1" id="Calque_1"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                 y="0px" viewBox="0 0 1440 48" style="enable-background:new 0 0 1440 48;"
                                 xml:space="preserve">
                        <path d="M1440,48H0V0c0,0,205,47,720,47s720-46.9,720-46.9V48z"></path>
                        </svg>
                        </div>
                        <span class="tag-blog">SVOD</span>
                        <span class="tag-blog">Tutoriel</span>
                        <h2>Partager son compte OCS</h2>
                        <p>Tutoriel</p>
                        <p class="date-blog">Le 10 Février 2020</p>
                    </a>
                </div>
            </div>
            <div class="flex center-list width50">
                <div class="bloc-white bloc-article">
                    <a href="blog/post/partager-son-abonnement-cdiscount.html">
                        <div class="img-list-blog"
                             style="background-image:url(../images.prismic.io/spliiit/bc0f18d0-c9c9-4581-b888-066fae3486da_logocdiscount71fb.jpg?auto=compress,format);">
                            <svg class="arrondis-theme white-arrondis" version="1.1" id="Calque_1"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                 y="0px" viewBox="0 0 1440 48" style="enable-background:new 0 0 1440 48;"
                                 xml:space="preserve">
                        <path d="M1440,48H0V0c0,0,205,47,720,47s720-46.9,720-46.9V48z"></path>
                        </svg>
                        </div>
                        <span class="tag-blog">Usage</span>
                        <span class="tag-blog">Tutoriel</span>
                        <h2>Partager son abonnement Cdiscount</h2>
                        <p>Tutoriel</p>
                        <p class="date-blog">Le 10 Février 2020</p>
                    </a>
                </div>
            </div>
            <div class="flex center-list width50">
                <div class="bloc-white bloc-article">
                    <a href="blog/post/partager-norton-360.html">
                        <div class="img-list-blog"
                             style="background-image:url(../images.prismic.io/spliiit/51e6bf41-7c7e-4ca3-9bd4-7e903f8a5d24_Spliiit%2bblog%2bvisuel%2bnorton71fb.jpg?auto=compress,format);">
                            <svg class="arrondis-theme white-arrondis" version="1.1" id="Calque_1"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                 y="0px" viewBox="0 0 1440 48" style="enable-background:new 0 0 1440 48;"
                                 xml:space="preserve">
                        <path d="M1440,48H0V0c0,0,205,47,720,47s720-46.9,720-46.9V48z"></path>
                        </svg>
                        </div>
                        <span class="tag-blog">Sécurité</span>
                        <span class="tag-blog">Tutoriel</span>
                        <h2>Partager son abonnement Norton 360</h2>
                        <p>Tutoriel</p>
                        <p class="date-blog">Le 7 Novembre 2019</p>
                    </a>
                </div>
            </div>
            <div class="flex center-list width50">
                <div class="bloc-white bloc-article">
                    <a href="blog/post/partager-son-compte-deezer.html">
                        <div class="img-list-blog"
                             style="background-image:url(../images.prismic.io/spliiit/79785cb3-11ca-4f0d-ac7a-256c6abbb897_deezer71fb.jpg?auto=compress,format);">
                            <svg class="arrondis-theme white-arrondis" version="1.1" id="Calque_1"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                 y="0px" viewBox="0 0 1440 48" style="enable-background:new 0 0 1440 48;"
                                 xml:space="preserve">
                        <path d="M1440,48H0V0c0,0,205,47,720,47s720-46.9,720-46.9V48z"></path>
                        </svg>
                        </div>
                        <span class="tag-blog">Musique</span>
                        <span class="tag-blog">Streaming</span>
                        <span class="tag-blog">Tutoriel</span>
                        <h2>Partager son abonnement Deezer Famille</h2>
                        <p>Tutoriel</p>
                        <p class="date-blog">Le 4 Novembre 2019</p>
                    </a>
                </div>
            </div>
            <div class="flex center-list width50">
                <div class="bloc-white bloc-article">
                    <a href="blog/post/partager-son-compte-netflix.html">
                        <div class="img-list-blog"
                             style="background-image:url(../images.prismic.io/spliiit/e371d66553ca65f2542092e9870a0905eb806422_spliiit-blog-visuel-netflix71fb.jpg?auto=compress,format);">
                            <svg class="arrondis-theme white-arrondis" version="1.1" id="Calque_1"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                 y="0px" viewBox="0 0 1440 48" style="enable-background:new 0 0 1440 48;"
                                 xml:space="preserve">
                        <path d="M1440,48H0V0c0,0,205,47,720,47s720-46.9,720-46.9V48z"></path>
                        </svg>
                        </div>
                        <span class="tag-blog">Bonnes Pratiques</span>
                        <span class="tag-blog">Netflix</span>
                        <span class="tag-blog">Tutoriel</span>
                        <h2>Comment partager son compte Netflix ?</h2>
                        <p>Bonnes pratiques </p>
                        <p class="date-blog">Le 18 Octobre 2019</p>
                    </a>
                </div>
            </div>
            <div class="flex center-list width50">
                <div class="bloc-white bloc-article">
                    <a href="blog/post/partager-apple-music.html">
                        <div class="img-list-blog"
                             style="background-image:url(../images.prismic.io/spliiit/5c0098267b89dc3e2d5c7786d8a9aae5f7cc043b_applemusic71fb.jpg?auto=compress,format);">
                            <svg class="arrondis-theme white-arrondis" version="1.1" id="Calque_1"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                 y="0px" viewBox="0 0 1440 48" style="enable-background:new 0 0 1440 48;"
                                 xml:space="preserve">
                        <path d="M1440,48H0V0c0,0,205,47,720,47s720-46.9,720-46.9V48z"></path>
                        </svg>
                        </div>
                        <span class="tag-blog">Tutoriel</span>
                        <span class="tag-blog">Musique</span>
                        <h2>Partager son abonnement Apple Music</h2>
                        <p>Tutoriel</p>
                        <p class="date-blog">Le 27 Septembre 2019</p>
                    </a>
                </div>
            </div>
            <div class="flex center-list width50">
                <div class="bloc-white bloc-article">
                    <a href="blog/post/partager-youtube-premium.html">
                        <div class="img-list-blog"
                             style="background-image:url(../images.prismic.io/spliiit/a2e442b2810355d62c066dee1a6b97e4daad0c6b_youtube-premium71fb.jpg?auto=compress,format);">
                            <svg class="arrondis-theme white-arrondis" version="1.1" id="Calque_1"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                 y="0px" viewBox="0 0 1440 48" style="enable-background:new 0 0 1440 48;"
                                 xml:space="preserve">
                        <path d="M1440,48H0V0c0,0,205,47,720,47s720-46.9,720-46.9V48z"></path>
                        </svg>
                        </div>
                        <span class="tag-blog">Tutoriel</span>
                        <span class="tag-blog">Premium</span>
                        <h2>Partager son abonnement Youtube Premium</h2>
                        <p>Tutoriel</p>
                        <p class="date-blog">Le 26 Septembre 2019</p>
                    </a>
                </div>
            </div>
            <div class="flex center-list width50">
                <div class="bloc-white bloc-article">
                    <a href="blog/post/partager-son-abonnement-spotify.html">
                        <div class="img-list-blog"
                             style="background-image:url(../images.prismic.io/spliiit/1638dd9043df120162b3ce4ffcba7bf1e2da6d27_spotify71fb.jpg?auto=compress,format);">
                            <svg class="arrondis-theme white-arrondis" version="1.1" id="Calque_1"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                 y="0px" viewBox="0 0 1440 48" style="enable-background:new 0 0 1440 48;"
                                 xml:space="preserve">
                        <path d="M1440,48H0V0c0,0,205,47,720,47s720-46.9,720-46.9V48z"></path>
                        </svg>
                        </div>
                        <span class="tag-blog">Tutoriel</span>
                        <span class="tag-blog">Musique</span>
                        <h2>Partager son abonnement Spotify</h2>
                        <p>Tutoriel</p>
                        <p class="date-blog">Le 23 Septembre 2019</p>
                    </a>
                </div>
            </div>
            <div class="flex center-list width50">
                <div class="bloc-white bloc-article">
                    <a href="blog/post/partager-office-365-famille.html">
                        <div class="img-list-blog"
                             style="background-image:url(../images.prismic.io/spliiit/7e0d396a-1acf-4a20-9040-bc5022d03441_logooffice71fb.jpg?auto=compress,format);">
                            <svg class="arrondis-theme white-arrondis" version="1.1" id="Calque_1"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                 y="0px" viewBox="0 0 1440 48" style="enable-background:new 0 0 1440 48;"
                                 xml:space="preserve">
                        <path d="M1440,48H0V0c0,0,205,47,720,47s720-46.9,720-46.9V48z"></path>
                        </svg>
                        </div>
                        <span class="tag-blog">Usage</span>
                        <span class="tag-blog">Tutoriel</span>
                        <h2>Partager son abonnement Office 365 Famille</h2>
                        <p>Tutoriel</p>
                        <p class="date-blog">Le 20 Septembre 2019</p>
                    </a>
                </div>
            </div>
            <div class="flex center-list width50">
                <div class="bloc-white bloc-article">
                    <a href="blog/post/partager-son-compte-nintendo-switch-online.html">
                        <div class="img-list-blog"
                             style="background-image:url(../images.prismic.io/spliiit/67bf4b335825ed967a5818ac21749856b2b5fa2e_nintendo-online71fb.jpg?auto=compress,format);">
                            <svg class="arrondis-theme white-arrondis" version="1.1" id="Calque_1"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                 y="0px" viewBox="0 0 1440 48" style="enable-background:new 0 0 1440 48;"
                                 xml:space="preserve">
                        <path d="M1440,48H0V0c0,0,205,47,720,47s720-46.9,720-46.9V48z"></path>
                        </svg>
                        </div>
                        <span class="tag-blog">Usage</span>
                        <span class="tag-blog">Tutoriel</span>
                        <span class="tag-blog">Console</span>
                        <h2>Partager son abonnement Nintendo Switch Online </h2>
                        <p>Tutoriel</p>
                        <p class="date-blog">Le 20 Septembre 2019</p>
                    </a>
                </div>
            </div>
            <div class="flex center-list width50">
                <div class="bloc-white bloc-article">
                    <a href="blog/post/partager-son-compte-xbox.html">
                        <div class="img-list-blog"
                             style="background-image:url(../images.prismic.io/spliiit/7f463143541c62b7c97f4b5550aec85b9f815379_xbox71fb.jpg?auto=compress,format);">
                            <svg class="arrondis-theme white-arrondis" version="1.1" id="Calque_1"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                 y="0px" viewBox="0 0 1440 48" style="enable-background:new 0 0 1440 48;"
                                 xml:space="preserve">
                        <path d="M1440,48H0V0c0,0,205,47,720,47s720-46.9,720-46.9V48z"></path>
                        </svg>
                        </div>
                        <span class="tag-blog">Usage</span>
                        <span class="tag-blog">Tutoriel</span>
                        <span class="tag-blog">Console</span>
                        <h2>Partager son abonnement XBOX Live</h2>
                        <p>Tutoriel</p>
                        <p class="date-blog">Le 19 Septembre 2019</p>
                    </a>
                </div>
            </div>
            <div class="flex center-list width50">
                <div class="bloc-white bloc-article">
                    <a href="blog/post/partager-son-compte-ps4.html">
                        <div class="img-list-blog"
                             style="background-image:url(../images.prismic.io/spliiit/8cac9ff7bc46fbaf8b9bb52745d7662f869c41d8_ps-plus71fb.jpg?auto=compress,format);">
                            <svg class="arrondis-theme white-arrondis" version="1.1" id="Calque_1"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                 y="0px" viewBox="0 0 1440 48" style="enable-background:new 0 0 1440 48;"
                                 xml:space="preserve">
                        <path d="M1440,48H0V0c0,0,205,47,720,47s720-46.9,720-46.9V48z"></path>
                        </svg>
                        </div>
                        <span class="tag-blog">Usage</span>
                        <span class="tag-blog">Tutoriel</span>
                        <span class="tag-blog">Console</span>
                        <h2>Partager son abonnement PlayStation Plus </h2>
                        <p>Tutoriel</p>
                        <p class="date-blog">Le 18 Septembre 2019</p>
                    </a>
                </div>
            </div>
            <div class="flex center-list width50">
                <div class="bloc-white bloc-article">
                    <a href="blog/post/partager-son-compte-amazon.html">
                        <div class="img-list-blog"
                             style="background-image:url(../images.prismic.io/spliiit/81f520c5c925533ba1b3668a9a391b7bb80fabb6_spliiit-blog-visuel-principal71fb.jpg?auto=compress,format);">
                            <svg class="arrondis-theme white-arrondis" version="1.1" id="Calque_1"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                 y="0px" viewBox="0 0 1440 48" style="enable-background:new 0 0 1440 48;"
                                 xml:space="preserve">
                        <path d="M1440,48H0V0c0,0,205,47,720,47s720-46.9,720-46.9V48z"></path>
                        </svg>
                        </div>
                        <span class="tag-blog">Usage</span>
                        <span class="tag-blog">Tutoriel</span>
                        <h2>Partager son abonnement Amazon Prime</h2>
                        <p>Tutoriel</p>
                        <p class="date-blog">Le 18 Septembre 2019</p>
                    </a>
                </div>
            </div>
            <div class="flex center-list width50">
                <div class="bloc-white bloc-article">
                    <a href="blog/post/comment-partager-son-abonnement-au-loto-.html">
                        <div class="img-list-blog"
                             style="background-image:url(../images.prismic.io/spliiit/57755ab882884e95234f2a6ffc47b41b817c5980_c-est-officiel-on-peut-desormais-jouer-a-plusieurs-au-loto71fb.jpg?auto=compress,format);">
                            <svg class="arrondis-theme white-arrondis" version="1.1" id="Calque_1"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                 y="0px" viewBox="0 0 1440 48" style="enable-background:new 0 0 1440 48;"
                                 xml:space="preserve">
                        <path d="M1440,48H0V0c0,0,205,47,720,47s720-46.9,720-46.9V48z"></path>
                        </svg>
                        </div>
                        <span class="tag-blog">Usage</span>
                        <span class="tag-blog">Loto</span>
                        <span class="tag-blog">Groupe</span>
                        <h2>Maximiser vos chances de gains au Loto</h2>
                        <p>Moins de gains, PLUS de chance !</p>
                        <p class="date-blog">Le 6 Septembre 2019</p>
                    </a>
                </div>
            </div>
            <div class="flex center-list width50">
                <div class="bloc-white bloc-article">
                    <a href="blog/post/la-colocation-au-c%c5%93ur-du-partage.html">
                        <div class="img-list-blog"
                             style="background-image:url(../images.prismic.io/spliiit/2e72f876e4542bc449afef33226e354860bf9c17_16939571fb.jpg?auto=compress,format);">
                            <svg class="arrondis-theme white-arrondis" version="1.1" id="Calque_1"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                 y="0px" viewBox="0 0 1440 48" style="enable-background:new 0 0 1440 48;"
                                 xml:space="preserve">
                        <path d="M1440,48H0V0c0,0,205,47,720,47s720-46.9,720-46.9V48z"></path>
                        </svg>
                        </div>
                        <span class="tag-blog">Colocation </span>
                        <span class="tag-blog">Sharing</span>
                        <h2>La vie en colocation sous abonnement</h2>
                        <p>Le partage au cœur de la colocation !</p>
                        <p class="date-blog">Le 5 Septembre 2019</p>
                    </a>
                </div>
            </div>
            <div class="flex center-list width50">
                <div class="bloc-white bloc-article">
                    <a href="blog/post/la-musique-a-portee-de-main.html">
                        <div class="img-list-blog"
                             style="background-image:url(../images.prismic.io/spliiit/1c769d05a7b6517288d8f64a899f550a10507800_appmusic71fb.jpg?auto=compress,format);">
                            <svg class="arrondis-theme white-arrondis" version="1.1" id="Calque_1"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                 y="0px" viewBox="0 0 1440 48" style="enable-background:new 0 0 1440 48;"
                                 xml:space="preserve">
                        <path d="M1440,48H0V0c0,0,205,47,720,47s720-46.9,720-46.9V48z"></path>
                        </svg>
                        </div>
                        <span class="tag-blog">Digital music</span>
                        <span class="tag-blog">Streaming</span>
                        <h2>La musique à portée de main</h2>
                        <p> Profiter des services de streaming musicaux en famille !</p>
                        <p class="date-blog">Le 5 Septembre 2019</p>
                    </a>
                </div>
            </div>
            <div class="flex center-list width50">
                <div class="bloc-white bloc-article">
                    <a href="blog/post/les-differents-forfaits-sur-netflix.html">
                        <div class="img-list-blog"
                             style="background-image:url(../images.prismic.io/spliiit/cd3f321d3fb3493d03d0cf35276d72bd1e2db910_netflix-succes-vignette-171fb.jpg?auto=compress,format);">
                            <svg class="arrondis-theme white-arrondis" version="1.1" id="Calque_1"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                 y="0px" viewBox="0 0 1440 48" style="enable-background:new 0 0 1440 48;"
                                 xml:space="preserve">
                        <path d="M1440,48H0V0c0,0,205,47,720,47s720-46.9,720-46.9V48z"></path>
                        </svg>
                        </div>
                        <span class="tag-blog">SVOD</span>
                        <span class="tag-blog">Netflix</span>
                        <h2>Netflix, le géant de la SVOD</h2>
                        <p>Partager son compte Netflix, est-ce possible ? </p>
                        <p class="date-blog">Le 4 Septembre 2019</p>
                    </a>
                </div>
            </div>
            <div class="flex center-list width50">
                <div class="bloc-white bloc-article">
                    <a href="blog/post/les-abonnements-dematerialises.html">
                        <div class="img-list-blog"
                             style="background-image:url(../images.prismic.io/spliiit/a0e39f37dbc7079ea0ca3928fec689c3864535bc_istock-109616611871fb.jpg?auto=compress,format);">
                            <svg class="arrondis-theme white-arrondis" version="1.1" id="Calque_1"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                 y="0px" viewBox="0 0 1440 48" style="enable-background:new 0 0 1440 48;"
                                 xml:space="preserve">
                        <path d="M1440,48H0V0c0,0,205,47,720,47s720-46.9,720-46.9V48z"></path>
                        </svg>
                        </div>
                        <span class="tag-blog">Usage</span>
                        <h2>Les abonnements dématérialisés</h2>
                        <p>Une vie sous abonnement !</p>
                        <p class="date-blog">Le 25 Août 2019</p>
                    </a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>
{% endblock %}