<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="name" content="spliiit.com">
        <title>Oups ! Spliiit semble être victime de son succès !</title>
        <link rel="stylesheet" type="text/css" href="https://www.spliiit.com/css/style500.css">
        <meta name="viewport" content="initial-scale=1">
        <link rel="icon" type="image/png" href="https://www.spliiit.com/img/favicon.png">
    </head>
    <body>
        <header><img src="https://www.spliiit.com/img/logo-spliiit.png"/></header>
        <div class="container">
            <img class="visuel-no-offer" src="https://www.spliiit.com/img/no-offer.png"/>
            <h1>Oups ! Spliiit semble être victime de son succès ! <img class="smile-no-offer" src="https://www.spliiit.com/img/no-offer-smile-2.png"/></h1>
            <p>Notre plateforme rencontre un soucis, mais pas de panique, nos équipes techniques sont déjà sur le coup afin de régler le problème au plus vite et ils auront besoin d’une bonne dose de caféine <img class="smile-coffee" src="https://www.spliiit.com/img/coffee.png"/> !</p>
            <p class="encouragement"><strong>
                {% block content %}
                {% endblock %}
            </strong></p>
            <div class="social-logo">
                <a href="https://facebook.com/spliiit" target="_blank">
                    <div class="social-ico"><img src="https://www.spliiit.com/img/facebook-ico.png" alt="Facebook Spliiit" title="Facebook Spliiit"></div>
                </a>
                <a href="https://www.instagram.com/spliiit_off/" target="_blank">
                    <div class="social-ico"><img src="https://www.spliiit.com/img/insta-ico.png" alt="Instagram Spliiit" title="Instagram Spliiit"></div>
                </a>
                <a href="https://twitter.com/Spliiitfr" target="_blank">
                    <div class="social-ico"><img src="https://www.spliiit.com/img/twitter-ico.png" alt="Twitter Spliiit" title="Twitter Spliiit"></div>
                </a>
            </div>
        </div>
        <div class="clear"></div>
        <footer>Copyright 2019 SPLIIIT SAS - Tous droits réservés</footer>
    </body>
</html>
