<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="name" content="spliiit.com">
    <meta name="csrf-token" content="sK2r2lobirTz7WC2fqJP0LXgSTeJxiIBdZOCBNof">


    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/pusher.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/fronte7dc.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scevent.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/registration.js') }}"></script>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,600" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/frontadab.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jqueryui.css') }}" type="text/css">

    <link rel="script" href="{{ url_for('static', filename='js/bootstrap-slider.css') }}" type="text/css">
    <title>My subscriptions | Spliiit</title>
    <meta name="description"
          content="You want to share or take out a subscription. Spliiit allows you to reduce the cost of all your subscriptions by creating your virtual family!"/>
    <!-- <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "name": "Spliiit",
            "description": "You want to share or take out a subscription. Spliiit allows you to reduce the cost of all your subscriptions by creating your virtual family!",
            "image": "https://www.spliiit.com/img/homepage.png",
            "logo": "https://www.spliiit.com/img/logo-shemaorg.png",
            "url": "https://www.spliiit.com",
            "telephone": "+33180883750",
            "sameAs": ["https://twitter.com/Spliiit1","https://www.facebook.com/spliiit","https://www.instagram.com/spliiit_off"],
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "4 bis rue royer bendele",
                "addressLocality": "Gennevilliers",
                "postalCode": "92230",
                "addressCountry": "France"
            }
        }
    </script> -->
    <!-- Snap Pixel Code -->
    <script type='text/javascript'>
        (function (e, t, n) {
            if (e.snaptr) return;
            var a = e.snaptr = function () {
                a.handleRequest ? a.handleRequest.apply(a, arguments) : a.queue.push(arguments)
            };
            a.queue = [];
            var s = 'script';
            r = t.createElement(s);
            r.async = !0;
            r.src = n;
            var u = t.getElementsByTagName(s)[0];
            u.parentNode.insertBefore(r, u);
        })(window, document,
            'https://sc-static.net/scevent.min.js');

        snaptr('init', '6d244cb6-d78f-41aa-9d85-c1dbe5d7eea1', {
            'user_email': 'info@gamingunivers.com'
        });

        snaptr('track', 'PAGE_VIEW');

    </script>
    <!-- End Snap Pixel Code -->
    <link rel="canonical" href="https://www.spliiit.com/myspliiit"/>
    <meta name="rating" content="general"/>
    <meta name="distribution" content="global"/>
    <meta name="resource-type" content="document"/>
    <meta name="revisit-after" content="30 DAY"/>
    <meta name="generator" content="https://www.spliiit.com"/>
    <meta name="copyright" content="copyright https://www.spliiit.com ©2019"/>
    <meta name="googlebot" content="index,follow,all"/>
    <meta name="robots" content="index,follow,all"/>
    <meta name="identifier-url" content="https://www.spliiit.com"/>

    <meta property="og:title" content="My subscriptions | Spliiit"/>
    <meta property="og:description" content="Joint subscription keeps your wallet happy !"/>
    <meta property="og:url" content="https://www.spliiit.com"/>
    <meta property="og:image" content="https://www.spliiit.com/img/homepage.png"/>
    <meta property="og:site_name" content="Spliiit"/>
    <meta property="og:type" content="website"/>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@spliiitfr">
    <meta name="twitter:title" content="My subscriptions | Spliiit">
    <meta name="twitter:description" content="Joint subscription keeps your wallet happy !">
    <meta name="twitter:image" content="https://www.spliiit.com/img/homepage.png">

    <link rel="icon" type="image/png" href="https://www.spliiit.com/img/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="https://www.spliiit.com/css/front.css?id=b75fea96d97da478fcd7">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="fb:app_id" content="330690674284216"/>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-TGSCVTC');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
<div class="spliiit-container">
    <div class="margin-bo">
        <header class="profil-header">
            <a class="logo-nav" href="/">
                <img src="https://www.spliiit.com/img/logo-spliiit.png" alt="Logo Spliiit"/>
            </a>
        </header>
    </div>
    {% block content %}
    {% endblock %}

    <div id="footer" class="container-global-footer">
        <div class="content-global-footer">
            <div class="arrondis-footer">
                <svg class="arrondis-theme black-arrondis" version="1.1" id="Calque_1"
                     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 1440 48" style="enable-background:new 0 0 1440 48;" xml:space="preserve">
    <path d="M1440,48H0V0c0,0,205,47,720,47s720-46.9,720-46.9V48z"/>
    </svg>
            </div>
            <footer>
                <div class="container-footer">
                    <div class="flex first-line-footer">
                        <div class="container">
                            <div class="social-logo">
                                <a href="https://facebook.com/spliiit" target="_blank">
                                    <div class="social-ico"><img src="https://www.spliiit.com/img/facebook-ico.png"
                                                                 alt="Facebook Spliiit" title="Facebook Spliiit"/></div>
                                </a>
                                <a href="https://www.instagram.com/spliiit_off/" target="_blank">
                                    <div class="social-ico"><img src="https://www.spliiit.com/img/insta-ico.png"
                                                                 alt="Instagram Spliiit" title="Instagram Spliiit"/>
                                    </div>
                                </a>
                                <a href="https://twitter.com/Spliiitfr" target="_blank">
                                    <div class="social-ico"><img src="https://www.spliiit.com/img/twitter-ico.png"
                                                                 alt="Twitter Spliiit" title="Twitter Spliiit"/></div>
                                </a>
                            </div>
                            <div class="footer-right">
                                <ul class="width30 info-mobile">
                                    <h3>A propos</h3>
                                    <li><a href="/blog">Le blog Spliiit</a></li>
                                    <li><a href="/security">Sécurité</a></li>
                                    <li><a href="/contact">Nous contacter</a></li>
                                </ul>
                                <ul class="width30 cgu-mobile">
                                    <h3>Légal</h3>
                                    <li><a href="/cgu">CGU Spliiit</a></li>
                                    <li><a href="/contrat-lemonway">CGU LemonWay</a></li>
                                    <li><a href="/legals">Mentions légales</a></li>
                                    <li><a href="/privacy-policies">Confidentialité</a></li>
                                </ul>
                                <div class="width40 center truspilot-mobile">
                                    <h3>Customer Service</h3>
                                    <p>Open Monday to Friday 10 a.m. to 7 p.m.<br>
                                        +33 1 80 88 37 50 or<strong><a onclick="$crisp.push(['do', 'chat:open'])"> by
                                            chat</a></strong></p>
                                    <a href="https://www.trustpilot.com/review/spliiit.com" target="_blank">
                                        <div class="trustpilot-footer">
                                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 viewBox="0 0 79.7 79.7" style="enable-background:new 0 0 79.7 79.7;"
                                                 xml:space="preserve">
                        <g>
                            <g>
                                <rect class="st0" width="79.7" height="79.7"/>
                                <g>
                                    <path class="st1" d="M39.9,53.9L52,50.7l5.1,15.7L39.9,53.9z M67.8,33.6H46.4l-6.6-20.3l-6.6,20.3H11.8l17.3,12.6l-6.6,20.3
                                        L39.8,54l10.7-7.8L67.8,33.6L67.8,33.6L67.8,33.6L67.8,33.6z"/>
                                </g>
                            </g>
                        </g>
                        </svg>
                                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 viewBox="0 0 79.7 79.7" style="enable-background:new 0 0 79.7 79.7;"
                                                 xml:space="preserve">
                        <g>
                            <g>
                                <rect class="st0" width="79.7" height="79.7"/>
                                <g>
                                    <path class="st1" d="M39.9,53.9L52,50.7l5.1,15.7L39.9,53.9z M67.8,33.6H46.4l-6.6-20.3l-6.6,20.3H11.8l17.3,12.6l-6.6,20.3
                                        L39.8,54l10.7-7.8L67.8,33.6L67.8,33.6L67.8,33.6L67.8,33.6z"/>
                                </g>
                            </g>
                        </g>
                        </svg>
                                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 viewBox="0 0 79.7 79.7" style="enable-background:new 0 0 79.7 79.7;"
                                                 xml:space="preserve">
                        <g>
                            <g>
                                <rect class="st0" width="79.7" height="79.7"/>
                                <g>
                                    <path class="st1" d="M39.9,53.9L52,50.7l5.1,15.7L39.9,53.9z M67.8,33.6H46.4l-6.6-20.3l-6.6,20.3H11.8l17.3,12.6l-6.6,20.3
                                        L39.8,54l10.7-7.8L67.8,33.6L67.8,33.6L67.8,33.6L67.8,33.6z"/>
                                </g>
                            </g>
                        </g>
                        </svg>
                                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 viewBox="0 0 79.7 79.7" style="enable-background:new 0 0 79.7 79.7;"
                                                 xml:space="preserve">
                        <g>
                            <g>
                                <rect class="st0" width="79.7" height="79.7"/>
                                <g>
                                    <path class="st1" d="M39.9,53.9L52,50.7l5.1,15.7L39.9,53.9z M67.8,33.6H46.4l-6.6-20.3l-6.6,20.3H11.8l17.3,12.6l-6.6,20.3
                                        L39.8,54l10.7-7.8L67.8,33.6L67.8,33.6L67.8,33.6L67.8,33.6z"/>
                                </g>
                            </g>
                        </g>
                        </svg>
                                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 viewBox="0 0 79.7 79.7" style="enable-background:new 0 0 79.7 79.7;"
                                                 xml:space="preserve">
                        <g>
                            <g>
                                <rect class="st0" width="79.7" height="79.7"/>
                                <g>
                                    <path class="st1" d="M39.9,53.9L52,50.7l5.1,15.7L39.9,53.9z M67.8,33.6H46.4l-6.6-20.3l-6.6,20.3H11.8l17.3,12.6l-6.6,20.3
                                        L39.8,54l10.7-7.8L67.8,33.6L67.8,33.6L67.8,33.6L67.8,33.6z"/>
                                </g>
                            </g>
                        </g>
                        </svg>

                                            <p>4,9/5 average on Trustpilot !</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="lang-line" data-id="1">
                        <ul>
                            <li data-code="fr" data-id="1"><img src="https://www.spliiit.com/img/flag-fr.png"
                                                                alt="Langue FR" title="Langue FR"/></li>
                            <li class="select-lang" data-code="en" data-id="2"><img
                                    src="https://www.spliiit.com/img/flag-gb.png" alt="Langue UK" title="Langue UK"/>
                            </li>
                            <li data-code="de" data-id="4"><img src="https://www.spliiit.com/img/flag-de.png"
                                                                alt="Langue DE" title="Langue DE"/></li>
                            <li data-code="es" data-id="3"><img src="https://www.spliiit.com/img/flag-es.png"
                                                                alt="Langue ES" title="Langue ES"/></li>
                            <li data-code="it" data-id="5"><img src="https://www.spliiit.com/img/flag-it.png"
                                                                alt="Langue IT" title="Langue IT"/></li>
                            <li data-code="pt" data-id="6"><img src="https://www.spliiit.com/img/flag-pt.png"
                                                                alt="Langue PT" title="Langue PT"/></li>
                        </ul>
                    </div>
                    <div class="second-line-footer">
                        <svg class="top-arrondis grey2-arrondis" version="1.1" id="Calque_1"
                             xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                             y="0px"
                             viewBox="0 0 1440 48" style="enable-background:new 0 0 1440 48;" xml:space="preserve">
            <path d="M1440,48H0V0c0,0,205,47,720,47s720-46.9,720-46.9V48z"/>
            </svg>
                        <img src="https://www.spliiit.com/img/visa.png" alt="Logo Visa png" title="Logo Visa png"/>
                        <img src="https://www.spliiit.com/img/mastercard.png" alt="Logo Mastercard png"
                             title="Logo Mastercard png"/>
                        <img src="https://www.spliiit.com/img/lemonway.png" alt="logo Lemonway png"
                             title="logo Lemonway png"/>
                        <p>Copyright 2020 SPLIIIT SAS - All rights reserved<br>Spliiit is a partner of Lemonway, a
                            payment institution certified by the ACPR in France on 12/24/2012 under number 16568J.</p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>

<div id="dialog-alert" title="" class="d-none alert-title">
    <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
         x="0px" y="0px" viewBox="0 0 331 331" style="enable-background:new 0 0 331 331;" xml:space="preserve">
        <g>
            <path d="M206,236c-7,27-78,29-73-7c3-24,8-47,12-71c2-15-8-10-16-13c-6-3-6-10,1-11c9-2,40-1,51-1c6,0,9,3,9,8c1,5,0,10-1,14
                c-4,23-10,47-12,69c-1,5,0,14,7,14c7-1,10-4,16-6C204,230,206,233,206,236z"></path>
            <path d="M171,74c14,0,24,11,24,24c0,14-11,25-24,24c-13,0-24-11-24-24S158,74,171,74z"></path>
            <path d="M165,0c92,0,166,74,166,165c0,92-74,166-166,166C74,331,0,257,0,165C0,74,74,0,165,0z M165,25C88,25,25,88,25,165
                c0,78,63,140,140,140c78,0,140-62,140-140C305,88,243,25,165,25z"></path>
        </g>
    </svg>
    <h1></h1>
    <p class="alert-desc"></p>
    <div class="center-action">
        <div class="btn-green btn-close-modal">Close</div>
    </div>
</div>

<script type="text/javascript">
    window.monthsTrans = {
        '01': 'January',
        '02': 'February',
        '03': 'March',
        '04': 'April',
        '05': 'May',
        '06': 'June',
        '07': 'July',
        '08': 'August',
        '09': 'September',
        '10': 'October',
        '11': 'November',
        '12': 'December'
    }

    var NOTIFICATION_INDEX = 'https://www.spliiit.com/notifications'
    var NOTIFICATION_OPENED = 'https://www.spliiit.com/notifications/open'
    var REQUEST_ACCEPT = 'https://www.spliiit.com/requests/accept'
    var REQUEST_REFUSE = 'https://www.spliiit.com/requests/refuse'
    var UPDATE_USER = 'https://www.spliiit.com/users/update'
    window.Laravel = {'csrfToken': 'sK2r2lobirTz7WC2fqJP0LXgSTeJxiIBdZOCBNof'}
    window.pusher_key = 'af88045b16a29a76c3b8'
    window.pusher_cluster = 'eu'
    var OFFER_DETAILS_URI = 'https://www.spliiit.com/myspliiit/DYN_ID/details';
    var TRACK_MESSAGE_URI = 'https://www.spliiit.com/conversations/track-message';
    var CONVERSATION_URI = 'https://www.spliiit.com/conversations/DYN_ID/details';

    var DEFAULT_MESSAGE = "Hey Jonathan ! Welcome to my Spliiit :). If you have any questions, you can contact me here or via my personal details available just above ;). See you soon !";
    var SEND_SUGGESTION_SERVICE = 'https://www.spliiit.com/offers/createSuggestion'

    var BASE_URI = 'https://www.spliiit.com/sponsor'
    var AUTO_WIRE_TRANSFER = 'https://www.spliiit.com/users/update'
    var TRANSACTION = 'https://www.spliiit.com/subscriptions/transactions'
    var UPLOAD_IMG_URL = 'https://www.spliiit.com/users/avatar'
    var USER_UPDATE = 'https://www.spliiit.com/users/update'
    var OFFER_WELCOME = 'https://www.spliiit.com/offers/welcome'
    var OFFER_SUBSCRIPTIONS = 'https://www.spliiit.com/offers/subscriptions/DYN_ID'
    var OFFER_PAYMENT_HISTORY = 'https://www.spliiit.com/offers/payment-history/DYN_ID'
    var OFFER_CREATE = 'https://www.spliiit.com/offers/new'
    var OFFER_SHARE = 'https://www.spliiit.com/offers/email-share/DYN_ID'
    var OFFER_UPDATE = 'https://www.spliiit.com/offers/update/DYN_ID'
    var OFFER_TERMINATION = 'https://www.spliiit.com/offers/termination/DYN_ID'
    var OFFER_CANCEL_TERMINATION = 'https://www.spliiit.com/offers/cancel-termination/DYN_ID'
    var OFFER_DESTROY = 'https://www.spliiit.com/offers/destroy/DYN_ID'
    var SEND_VERIF_NUMBER = 'https://www.spliiit.com/users/verify-number-send'
    var VERIFY_NUMBER = 'https://www.spliiit.com/auth/verify-number'
    var REQUEST_CANCEL = 'https://www.spliiit.com/requests/DYN_ID/cancel'
    var SUBSCRIPTION_REVERT_CANCEL = 'https://www.spliiit.com/subscriptions/revert-cancel/DYN_ID'
    var SUBSCRIPTION_CANCEL = 'https://www.spliiit.com/subscriptions/cancel/DYN_ID'
    var SUBSCRIPTION_DEFINITIVE_CANCEL = 'https://www.spliiit.com/myspliiit/terminate/DYN_ID'
    var OFFER_DASHBOARD = 'https://www.spliiit.com/myspliiit'
    var FUND_WITHDRAW_HISTORY = 'https://www.spliiit.com/withdraw'
    var UPDATE_VAULT = 'https://www.spliiit.com/myspliiit/DYN_ID/vault/update'
    var ACCEPT_CONVENTION = 'https://www.spliiit.com/users/accept-convention'
    var UPDATE_VAULT_FEEDBACK = 'https://www.spliiit.com/myspliiit/DYN_ID/feedback/update'
    var OWNER_MAIL_SUBSCRIBER = 'https://www.spliiit.com/myspliiit/ownerMailSubscriber?id=DYN_ID'
    var CONFIRM_PROMO_CODE = 'https://www.spliiit.com/sponsorship/use-code/DYN_PROMO_CODE'
    var RESEND_PROMO_CODE = 'https://www.spliiit.com/sponsorship/resend'
    var FLAG_COUNTRY = 'https://www.spliiit.com/DYN_FLAG'
    var COUNTRY_AVAILABILITY = 'Available only in DYN_COUNTRYTRAD'

    var translations = {
        share_sponsor_link: "How about saving money together ? Register quickly on Spliiit and divide the price of your subscriptions by 2 minimum !",
        invalid_amount: "Please check the amount entered, it must be positive and less than :totalAvailable",
        specify_friend_mail: "Please specify a valid email address",
        subscription_cancelation_reverted: "Cancellation request canceled",
        request_canceled: "Subscription request canceled",
        offer_deleted: "Spliiit deleted",
        none: "none",
        url_copied: "Copied address",
        invitation_sended: "Invitation sent",
        subscription_canceled: "Subscription canceled",
        informations_updated: "Updated information",
        title_updated: "Updated title",
        theme_updated: "Updated theme",
        color_updated: "Updated color",
        create_spliiit: "Je crée mon Spliiit !",
        update_spliiit: "I am updating my Spliiit !",
        update_impossible: "Subscriptions are in progress, you cannot update your Spliiit !",
        upload_done: "File sent !",
        upload_failed: "An error occurred while depositing",
        upload_maxsize: "Maximum authorized size: 10MB !",
        change_made: "Change made",
        number_not_filled: "Not specified",
        send_error: "Send error",
        contact_number_invalid: "The phone number is not valid",
        number_verified: "Verified number !",
        bad_code: "Incorrect code",
        number_not_verified: "Phone number is not verified",
        condition_not_checked: "Please accept the terms of use to continue",
        wrong_submission: "Something is wrong with your submission",
        contact_already_used: "The phone number is already in use",
        generated_code: "Generated code",
        added_code: "Promo code added",
        used_code: "Promo code already used",
        not_found_code: "This Code does not exist or has already been used",
        promo_code_empty: "You have not entered a promo code",
        code_error: "Error, please try again or contact us",
    }

    window.$crisp = [];
    window.CRISP_WEBSITE_ID = "0d9d35d4-4ac6-40f6-ac53-32858f0d3b5f";
    (function () {
        d = document;
        s = d.createElement("script");
        s.src = "https://client.crisp.chat/l.js";
        s.async = 1;
        d.getElementsByTagName("head")[0].appendChild(s);
    })();

    $crisp.push(["set", "user:email", ["info@gamingunivers.com"]])
    $crisp.push(["set", "user:phone", [""]])
    $crisp.push(["set", "user:nickname", ["Jonathan Petit"]])
    $crisp.push(["set", "user:company", ["48784"]])
    $crisp.push(["set", "user:avatar", ["https://www.spliiit.com/img/man-light.png"]])

</script>

<script src="//js.pusher.com/5.1/pusher.min.js"></script>

<script src="https://www.spliiit.com/js/messenger.js"></script>


<script>
    const PUSHER_APP_KEY = 'af88045b16a29a76c3b8'
    const PUSHER_APP_CLUSTER = 'eu'
</script>
<script>
    window.firebaseConfig = {
        apiKey: 'AIzaSyDaVrUyMGAfSoWCAaRmYsjsyDoJ9KQanAA',
        authDomain: 'spliiit.firebaseapp.com',
        databaseURL: 'https://spliiit.firebaseio.com',
        projectId: 'spliiit',
        storageBucket: 'spliiit.appspot.com',
        messagingSenderId: '420737357697',
        appId: '1:420737357697:web:38b70ba3d5ead721a67a80',
        measurementId: 'G-RQ57BXG4TF',
    };
    window.firebasePublicKey = 'BDIOJYQfF4np2xj6JYMC_adux-FzStFoJtoj0DTmV3JMsklPqtXjs5DA87gcGX9S-Ihvr3c9SpXSUEIIlfCFHC8';
    window.firebaseServerKey = 'AAAAYfXml4E:APA91bHZGiPz_7kfNQKzjLElpxhdT4Stk43-_lUWa0RlJ4lJB-nGW8zlcSEMyPeVHZImBaBajWwiGmEXCbCetGOjpkYnLfJndui3M1OksWuvcRhBIdoADB0GRyYVCxu8CXLA-VVwFSLn';
</script>


<div id="dialog-autopromo-blog" class="d-none">
</div>
<div id="dialog-buy-giftcard" class="giftcard-modal d-none">
    <h1>Recharge and gift card</h1>
    <p>Do you want to top up your wallet or offer a gift card ?</p>
    <img src="https://www.spliiit.com/img/bonhomme-netflix.png" class="gift-bonhomme1"/>
    <img src="https://www.spliiit.com/img/bonhomme-netflix2.png" class="gift-bonhomme2"/>
    <div class="amount-giftcard">
        <h3>Amount to be credited :</h3>
        <div class="range-chiffre">
            <div class="line-suscribe flex">
                <div data-action="decrease" class="btn-range">-</div>
                <div class="tarif-range">
                    <input type="text" maxlength="4" value="10" readonly
                           name="amount" required="required" class="input-range">
                    <div class="signe-euro">€</div>
                </div>
                <div data-action="increase" class="btn-range">+</div>
            </div>
        </div>
    </div>
    <div class="offer-friend">
        <h3>Would you like to offer a gift card ?</h3>
        <div class="statut-paiement-cagnotte">
            <span>No</span>
            <div class="card">
                <label for="tooffer-switch">
                    <input type="checkbox" id="tooffer-switch"/>
                    <span class="switch"></span>
                    <span class="toggle">    </span>
                </label>
            </div>
            <span>Yes</span>
        </div>
        <div class="mail-friend d-none">Who do you want to send it to ? <input placeholder="E-mail du bénéficiaire"
                                                                               type="email" id="friend-mail"/>
        </div>
    </div>
    <div class="payment-giftcard">
        <h3>Select the payment method :</h3>
        <div class="choice-payment">
            <div class="cagnotte-giftcard paiement-method d-none" data-method="wallet"><img
                    src="https://www.spliiit.com/img/logo.png"/><span>My wallet (0&euro;)</span></div>
            <div class="cb-giftcard paiement-method" data-method="card"><img
                    src="https://www.spliiit.com/img/visa-mastercard.png"/><span>Credit card</span></div>
            <div class="paypal-giftcard paiement-method" data-method="paypal"><img
                    src="https://www.spliiit.com/img/paypal-blanc.png"/><span>Paypal*</span></div>
        </div>
        <small>* Paypal payment with commission of 2.9% + 0.35 €</small>
    </div>
    <form action="https://www.spliiit.com/checkout-giftcard/prepare" method="post" id="default-form">
        <input type="hidden" name="_token" value="sK2r2lobirTz7WC2fqJP0LXgSTeJxiIBdZOCBNof"> <input type="hidden"
                                                                                                    name="amount">
        <input type="hidden" name="dest">
        <input type="hidden" name="payment_method">
    </form>
</div>
<div id="dialog-select-country" class="select-country-modal d-none">
    <h1>Choose your country</h1>
    <div class="list-country" data-id="228">
        <li>
            <div class="bloc-country" data-content="Belgium" data-id="18"><img
                    src="https://www.spliiit.com/img/flag-be.png"/>Belgium
            </div>
        </li>
        <li>
            <div class="bloc-country" data-content="Brasil" data-id="25"><img
                    src="https://www.spliiit.com/img/flag-br.png"/>Brazil
            </div>
        </li>
        <li>
            <div class="bloc-country" data-content="Canada" data-id="37"><img
                    src="https://www.spliiit.com/img/flag-ca.png"/>Canada
            </div>
        </li>
        <li>
            <div class="bloc-country" data-content="Germany" data-id="84"><img
                    src="https://www.spliiit.com/img/flag-de.png"/>Germany
            </div>
        </li>
        <li>
            <div class="bloc-country" data-content="Spain" data-id="203"><img
                    src="https://www.spliiit.com/img/flag-es.png"/>Spain
            </div>
        </li>
        <li>
            <div class="bloc-country" data-content="France" data-id="75"><img
                    src="https://www.spliiit.com/img/flag-fr.png"/>France
            </div>
        </li>
        <li>
            <div class="bloc-country" data-content="Italia" data-id="109"><img
                    src="https://www.spliiit.com/img/flag-it.png"/>Italy
            </div>
        </li>
        <li>
            <div class="bloc-country" data-content="Portugal" data-id="175"><img
                    src="https://www.spliiit.com/img/flag-pt.png"/>Portugal
            </div>
        </li>
        <li>
            <div class="bloc-country" data-content="Switzerland" data-id="210"><img
                    src="https://www.spliiit.com/img/flag-ch.png"/>Switzerland
            </div>
        </li>
        <li>
            <div class="bloc-country" data-content="United kingdom" data-id="228"><img
                    src="https://www.spliiit.com/img/flag-gb.png"/>United kingdom
            </div>
        </li>
        <li>
            <div class="bloc-country" data-content="United states" data-id="231"><img
                    src="https://www.spliiit.com/img/flag-us.png"/>United states
            </div>
        </li>
    </div>
</div>
<div id="dialog-select-language" class="select-language-modal d-none">
    <h1>Select your language</h1>
    <div class="list-language" data-id="1">
        <li>
            <div class="bloc-language" data-content="French" data-id="1"><img
                    src="https://www.spliiit.com/img/flag-fr.png"/>French
            </div>
        </li>
        <li>
            <div class="bloc-language" data-content="English" data-id="2"><img
                    src="https://www.spliiit.com/img/flag-gb.png"/>English
            </div>
        </li>
        <li>
            <div class="bloc-language" data-content="Spanish" data-id="3"><img
                    src="https://www.spliiit.com/img/flag-es.png"/>Spanish
            </div>
        </li>
        <li>
            <div class="bloc-language" data-content="German" data-id="4"><img
                    src="https://www.spliiit.com/img/flag-de.png"/>German
            </div>
        </li>
        <li>
            <div class="bloc-language" data-content="Italian" data-id="5"><img
                    src="https://www.spliiit.com/img/flag-it.png"/>Italian
            </div>
        </li>
        <li>
            <div class="bloc-language" data-content="Portuguese" data-id="6"><img
                    src="https://www.spliiit.com/img/flag-pt.png"/>Portuguese
            </div>
        </li>
    </div>
</div>
<div id="dialog-refund-owner" class="refund-owner-modal cancel-paiement-popup d-none">
    <form action="https://www.spliiit.com/myspliiit/refund" method="post">
        <input type="hidden" name="_token" value="sK2r2lobirTz7WC2fqJP0LXgSTeJxiIBdZOCBNof"> <input type="hidden"
                                                                                                    name="transaction_id"/>
    </form>
    <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
         x="0px" y="0px" viewBox="0 0 200 200" style="enable-background:new 0 0 200 200;" xml:space="preserve">
                <g>
                    <path class="blue" d="M100,0C73.5,0,48.7,10,30.4,28.3V17.4c0-4.8-3.9-8.7-8.7-8.7S13,12.6,13,17.4v34.8c0,4.8,3.9,8.7,8.7,8.7h34.8
                        c4.8,0,8.7-3.9,8.7-8.7s-3.9-8.7-8.7-8.7h-17C55.2,27,76.5,17.4,100,17.4c45.7,0,82.6,37,82.6,82.6s-37,82.6-82.6,82.6
                        s-82.6-37-82.6-82.6c0-4.8-3.9-8.7-8.7-8.7S0,95.2,0,100c0,55.2,44.8,100,100,100s100-44.8,100-100S155.2,0,100,0z"></path>
                    <path class="grey" d="M103.4,63c7,0,13.6,2.7,19.2,7.9c2.5,2.5,6.6,2.3,9.1-0.2c2.5-2.5,2.3-6.6-0.2-9.1
                        c-7.9-7.6-17.6-11.6-27.9-11.6c-18.4,0-34.1,13-40.5,31.4H52.7c-3.5,0-6.4,2.9-6.4,6.4c0,3.5,2.9,6.4,6.4,6.4h7.6
                        c-0.2,1.9-0.4,3.7-0.4,5.6s0.2,3.9,0.4,5.8h-7.6c-3.5,0-6.4,2.9-6.4,6.4c0,3.5,2.9,6.4,6.4,6.4H63c6.4,18.4,22.1,31.4,40.5,31.4
                        c10.3,0,20.1-4.1,27.9-11.4c2.5-2.5,2.7-6.4,0.2-9.1c-2.5-2.5-6.4-2.7-9.1-0.2c-5.4,5.2-12.2,7.9-19,7.9
                        c-11.4,0-21.3-7.6-26.5-18.6h33.7c3.5,0,6.4-2.9,6.4-6.4c0-3.5-2.9-6.4-6.4-6.4H73c-0.2-1.9-0.4-3.7-0.4-5.8c0-1.9,0.2-3.9,0.4-5.6
                        h37.6c3.5,0,6.4-2.9,6.4-6.4c0-3.5-2.9-6.4-6.4-6.4H76.7C82.1,70.5,92,63,103.4,63z"></path>
                </g>
    </svg>
    <div class="header-refund-owner">
        <h1>Refund <span class="refund-user-name"></span></h1>
        <p>The refund of a subscriber makes it possible to free his place immediately.</p>
    </div>
    <div class="warning_subscriber">
        <div class="circle-warning">!</div>
        Refund fees are applied. This action is irreversible.
    </div>
    <div class="bloc-white list-see-request info-error-paiement d-flex justify-content-between align-items-center refund-bloc">
        <img class="service-logo" src="">
        <p class="text-right"><strong>Amount : <span class="amoun-to-refund"></span>€</strong><br><span>Including refund costs 0.30 €</span>
        </p>
    </div>
    <h3>Do you confirm refund of<span class="refund-user-name"></span> ?</h3>
    <div class="center-action">
        <button type="button" class="btn-grey btn-close-modal">Cancel</button>
        <button type="button" class="btn-green btn-confirm-refund">Confirm</button>
    </div>
</div>
<div id="dialog-topup-fund" class="giftcard-modal d-none">
    <h1>Recharge</h1>
    <p>Do you want to recharge your wallet ?</p>
    <img src="https://www.spliiit.com/img/bonhomme-netflix.png" class="gift-bonhomme1"/>
    <img src="https://www.spliiit.com/img/bonhomme-netflix2.png" class="gift-bonhomme2"/>
    <div class="amount-giftcard">
        <h3>Amount to be credited :</h3>
        <div class="range-chiffre">
            <div class="line-suscribe flex">
                <div data-action="decrease" class="btn-range">-</div>
                <div class="tarif-range">
                    <input type="text" maxlength="4" value="10" readonly
                           name="amount" required="required" class="input-range">
                    <div class="signe-euro">€</div>
                </div>
                <div data-action="increase" class="btn-range">+</div>
            </div>
        </div>
    </div>
    <div class="payment-giftcard">
        <h3>Select the payment method :</h3>
        <div class="choice-payment">
            <div class="reload-giftcard paiement-method" data-method="reload-by-wallet"><img
                    src="https://www.spliiit.com/img/logo.png"/><span>Gift card</span></div>
            <div class="cb-giftcard paiement-method" data-method="card"><img
                    src="https://www.spliiit.com/img/visa-mastercard.png"/><span>Credit card</span></div>
            <div class="paypal-giftcard paiement-method" data-method="paypal"><img
                    src="https://www.spliiit.com/img/paypal-blanc.png"/><span>Paypal*</span></div>
        </div>
        <small>*Paypal payment with commission of 2.9% + 0.35€</small>
    </div>
    <form action="https://www.spliiit.com/checkout-giftcard/prepare" method="post" id="default-form">
        <input type="hidden" name="_token" value="sK2r2lobirTz7WC2fqJP0LXgSTeJxiIBdZOCBNof"> <input type="hidden"
                                                                                                    name="amount">
        <input type="hidden" name="dest">
        <input type="hidden" name="payment_method">
    </form>
</div>


<div id="dialog-suggest-service" class="d-none">
    <div class="popup-info-cagnotte width-suggest-service">
        <div class="myaccount verif-acpr">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                 y="0px"
                 viewBox="0 0 86.6 95" style="enable-background:new 0 0 86.6 95;" xml:space="preserve">
            <g id="Calque_2">
            </g>
                <g id="Calque_1">
                <g>
                    <path d="M86.6,60.1L77.5,35c-0.4-1-1.3-1.7-2.4-1.7H63.5V2.5C63.5,1.1,62.4,0,61,0H25.6c-1.4,0-2.5,1.1-2.5,2.5v30.8H11.5
                        c-1.1,0-2,0.7-2.4,1.7L0,60.1c-0.1,0.3-0.2,0.6-0.2,0.9v31.5c0,1.4,1.1,2.5,2.5,2.5H84c1.4,0,2.5-1.1,2.5-2.5V61
                        C86.7,60.7,86.7,60.4,86.6,60.1z M58.4,5.1v40.8H28.2V5.1H58.4z M13.3,38.4h9.8v7.5h-2.9c-1.4,0-2.5,1.1-2.5,2.5s1.1,2.5,2.5,2.5
                        h46.2c1.4,0,2.5-1.1,2.5-2.5s-1.1-2.5-2.5-2.5h-2.9v-7.5h9.8l7.2,20H6L13.3,38.4z M5,89.9V63.5h76.7v26.4H5z"/>
                    <path d="M39.3,31.8c0.5,0.5,1.1,0.7,1.8,0.7s1.3-0.3,1.8-0.7l9.2-9.2c1-1,1-2.6,0-3.6s-2.6-1-3.6,0l-7.4,7.4l-3-3
                        c-1-1-2.6-1-3.6,0s-1,2.6,0,3.6L39.3,31.8z"/>
                </g>
            </g>
            </svg>
            <h1>Suggest a service</h1>
            <div class="warning_subscriber">
                <div class="circle-warning">!</div>
                We analyze each service to verify if it is compliant and available for sharing. Please send us the
                information below.
            </div>
            <form enctype="multipart/form-data" method="post">
                <ul>
                    <li>
                        <p class="infos-account">Service name :</p>

                        <div class="data-account">
                            <div class="form-user profile-form">
                                <input class="service-suggestion-form-name" name="name" type="text"
                                       placeholder="Ex : Netflix" required/>
                            </div>
                        </div>
                    </li>
                    <li>
                        <p class="infos-account">Service URL :</p>
                        <div class="data-account">
                            <div class="form-user profile-form">
                                <input class="service-suggestion-form-service_url" name="service_url" type="url"
                                       placeholder="Ex : www.netflix.com" required>
                            </div>
                        </div>
                    </li>
                    <li>
                        <p class="infos-account">Offer page :</p>
                        <div class="data-account">
                            <div class="form-user profile-form">
                                <input class="service-suggestion-form-offer_url" name="offer_url" type="url"
                                       placeholder="Ex : www.netflix.com/offres"
                                       required/>
                                <input type="hidden"/>
                            </div>
                        </div>
                    </li>
                    <li>
                        <p class="infos-account">Your email :</p>
                        <div class="data-account">
                            <div class="form-user profile-form">
                                <input class="service-suggestion-form-email" name="email" type="email"
                                       value="info@gamingunivers.com" placeholder="myEmail@gmail.com"
                                       required/>
                                <input type="hidden"/>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="line-valid-info">
                    <button class="service-suggestion-submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="dialog-subscribe-ask-offer" class="d-none">
</div>

<!-- Firebase Cloud Messaging -->
<script src="https://www.gstatic.com/firebasejs/7.15.4/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.15.4/firebase-messaging.js"></script>

<!-- End Firebase Cloud Messaging -->

<script src="https://www.spliiit.com/js/front.js?id=8ddc064bb41d7ea10d09"></script>
<script src="https://www.google.com/recaptcha/api.js?" async defer></script>


<!-- Facebook Pixel Code -->
<script>
    !function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
            n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = '2.0';
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
        'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '308065760146858');
    fbq('track', 'PageView');
</script>


<script type="text/javascript">
    var el = document.createElement('script');
    el.setAttribute('src', 'https://static.axept.io/sdk.js');
    el.setAttribute('type', 'text/javascript');
    el.setAttribute('async', true);
    el.setAttribute('data-id', '5f19aa3821e249042865e7e3');

    var documentLang = document.documentElement.lang
    switch (documentLang) {
        case 'en':
        case 'fr':
        case 'de':
        case 'es':
        case 'it':
        case 'pt':
            el.setAttribute('data-cookies-version', 'cookie_' + documentLang);
            break
        default:
            el.setAttribute('data-cookies-version', 'cookie_en');
            break
    }

    if (document.body !== null) {
        document.body.appendChild(el);
    }
</script>
<noscript><img height="1" width="1" style="display:none"
               src="https://www.facebook.com/tr?id=308065760146858&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->


<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TGSCVTC"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
</body>
</html>







